<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_S3amazon
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$helper = $block->getHelper();

if ($helper->getConfigValue('s3_amazon/general_settings/access_key') !== null &&
    $helper->getConfigValue('s3_amazon/general_settings/secret_key') !== null
) {
    ?>
    <div class="pp-buttons-container">
        <button id="check_bucket_available" onclick="return false;">
            <span><?= $block->escapeHtml($block->getButtonLabel()); ?></span>
        </button>
        <span id="bucket_status"></span>
    </div>
    <?php
        $data = json_encode(
            [
                "ajaxUrl"       => $block->getAjaxUrl(),
                "checkButton"   => '#check_bucket_available',
                'configForm'    => '#config-edit-form',
                'status'        => '#bucket_status'
            ]
        );
    ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Webkul_S3amazon/js/action/check_bucket": <?= /* @noEscape */ $data; ?>
        }
    }
</script>
    <?php
}
?>
