.rewards-totals-actions {
  .rewards-base-refunded,
  .rewards-refunded-points {
    width: 7rem;
    margin-left: 1rem;
    text-align: right;
  }
  label[for="rewards_base_refunded"] {
    margin-left: 2rem;
  }
  .update-totals {
    padding: 5px;
  }
}