//
//  Main Styles
//  -------------------------------------------

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  line-height: $default-line-height;
  text-align: left;
  -webkit-text-size-adjust: none;
  background: $content-bg;
}

a {
  transition: .2s ease;
}

a:hover {
  transition: .3s ease;
}

//Paragraph
p {
  margin-bottom: $indent-small;
}

mark {
  color: #FFF;
}

small, .small {
  font-size: .8em;
}

.big {
  font-size: 1.2em;
}

pre {
  white-space: normal;
}

.page-wrapper {
  overflow: hidden;
  position: relative;
}

//Price
.old-price {
  .price {
    text-decoration: line-through;
  }
}

.special-price,
.old-price {
  .price-label {
    display: none;
  }
}

.modals-wrapper {
  position: relative;
  z-index: 5;
}
#notice-cookie-block {
  position: fixed;
  background: #fff;
  top:0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
  text-align: center;
  cursor: default;
  > div::after {
    display: none;
  }
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
}
//
//  Header
//  ----------------------------------------

.page-header {
  position: relative;
  height: auto !important;
  z-index: 3;
}
.loading-mask.for-slider  {
  display: block;
}
.page-header__panel {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .links {
    order: 2;
  }
}

.header-info {
  text-align: center;
  padding: 20px 0 17px;
  i {
    font-size: 30px;
    line-height: 0;
    vertical-align: sub;
    display: inline-block;
    margin-right: 9px;
  }
  strong {
    color: $white;
  }
  @media (max-width: $screen-sm-min - 1) {
    display: none;
  }
}

.panel-container-wrap {
  @include flex-basis(100%);
  @include clearfix;
  @media (min-width: $screen-sm-min) {
    padding: 10px 0;
    .welcome {
      float: left;
      padding: 8px 0 0;
      display: block;
    }
  }
  .rd-navbar-collapse-container {
    @media (min-width: $screen-sm-min) and (max-width: $screen-xl-min - 1) {
      clear: right;
      width: 100%;
      margin-top: 10px;
      border-top: 1px solid $theme-line-1;
    }
  }
}

.layout_1 {
  .panel-container-wrap {
    .rd-navbar-collapse-container {
      float: right;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-xl-min - 1) {
      .rd-navbar-collapse-container {
        float: left;
        margin-top: 0;
        border-top: 0;
        width: auto;
        clear: inherit;
      }
      .welcome {
        float: none;
        display: inline-block;
      }
    }
  }
}

.layout_2 {
  .panel-container-wrap {
    .rd-navbar-collapse-container {
      text-align: center;
    }
  }
}

.layout_3 {
  .page-header__content {
    padding-top: 17px;
    padding-bottom: 18px;
    @media (max-width: $screen-sm-min - 1) {
      padding: 0;
    }

  }

  .page-header__panel {
    .container {
      display: block;
    }
  }
  .panel-container-wrap {
    margin-bottom: 28px;
    @media (min-width: $screen-sm-min) {
      min-height: 61px;
    }
  }
  .rd-navbar-collapse-container {
    float: right;
  }
  .panel-container-wrap-bottom {
    border-bottom: 1px solid $theme-line-1;
    padding-bottom: 20px;
    @media (min-width: $screen-sm-min) {
      position: relative;
      > .logo {
        display: inline-block;
        margin-top: -8px;
      }
    }
    .rd-navbar-cart-wrap {
      padding-right: 0;
    }
  }
}

//.cms-index-index {
//  .layout_4 {
//    .page-header__content {
//      padding-bottom: 0;
//    }
//  }
//}

.layout_4 {
  .page-header__panel {
    .container {
      display: block;
    }
  }
  .panel-container-wrap {
    margin-bottom: 30px;
  }
  .rd-navbar-collapse-container {
    float: right;
  }
  .panel-container-wrap-bottom .rd-navbar-cart-wrap {
    padding-right: 0;
  }
  @media (max-width: $screen-sm-min - 1) {
    .logo {
      display: table;
      margin: 0 auto;
    }
    .page-header__content {
      border-bottom: 1px solid $theme-line-1;
    }
  }
}

.layout_5 {
  @media (max-width: $screen-sm-min - 1) {
    .header-center-wrap {
      margin-bottom: 0;
    }
  }

}
.welcome {
  display: none;
}

/***** page-header__content ********/
.page-header__content {
  padding: 28px 0 27px;
  position: relative;
  z-index: 3;

  .logo {
    display: inline-block;
    @media (max-width: $screen-sm-min - 1) {
      display: table;
      margin: 0 auto;
    }
  }
  .logo-wrapper {
    text-align: center;
    @media (min-width: $screen-lg-min) {
      margin-bottom: 15px;
    }
  }
}

.header-center-wrap {
  margin-bottom: 30px;
}

.header-bottom-wrap {
  position: relative;
  @media (min-width: $screen-sm-min) {
    padding-top: 14px;
    padding-bottom: 6px;
    @include make-flex;
    @include justify-content(center);
    @include align-items(center);
  }
}

.header-bottom-wrap-bg {
  background: #13191e;
  margin: 0 -10000px;
  padding: 0 10000px;
}

.layout_1 {
  .page-header__content {
    .logo {
      @media (min-width: $screen-lg-min) {
        width: 30%;
      }
    }
    @media (min-width: $screen-sm-min) {
      > .container {
        @include make-flex;
        @include justify-content(space-between);
        @include align-items(center);
        position: relative;
      }
      .navigation {
        width: 99%;
        @include clearfix;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min - 1) {
      > .container {
        @include flex-wrap(wrap);
      }
      .navigation {
        order: 3;
      }
      .rd-navbar-search-toggle {
        order: 2;
      }
    }
  }
}

.layout_4 {
  @media (min-width: $screen-sm-min) {
    .container-flex {
      @include make-flex;
      @include justify-content(space-between);
      @include align-items(center);

    }
    .rd-navbar-panel-canvas {
      display: none;
    }
  }
}

.layout_5 {
  @media (min-width: $screen-sm-min) {
    .panel-container-wrap {
      max-height: 53px;
    }
    .page-header__content {
      padding-bottom: 0;
    }
    .header-switchers {
      .switcher {
        border: 0;
        margin-left: 30px;
        .dropdown .mage-dropdown-dialog {
          top:42px;
          right: 0;
          left: auto;
        }
      }
      .actions .action {
        padding-left: 0;
      }
    }
    .header-bottom-wrap {
      padding: 14px 0 12px;
      @include justify-content(space-between);

      > * {
        order: 2;
      }
      .navigation {
        order: 0;
      }
      .rd-navbar-panel-canvas {
        display: none;
      }
    }
  }
}

/***** end ********/
.header.links {
  li {
    margin-left: $indent-small;
  }
  .counter {
    &:before,
    &:after {
      font-size: 10px;
    }
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }
}

//
//  Switchers
//  ---------------------------------------------

//Switcher variables
$switcher-dropdown-bg: $white;
$switcher-dropdown-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.09);

.header-switchers {
  @include clearfix;
  float: right;
  > div {
    float: left;
    &:nth-child(2) {
      margin-left: 20px;
    }
  }
  .actions {
    .action {
      background-color: transparent;
      transition: .3s ease;
      padding: 8px 0 6px 30px;
      height: 40px;
      border: 0;
      text-transform: capitalize;
      &.active,
      &:hover {
        background-color: transparent;
      }
      strong {
        font-weight: normal;
      }
    }
  }
}

.switcher {
  position: relative;
  margin: 0;
  padding: 0;
  border-left: 1px solid $theme-line-1;
  .toggle {
    cursor: pointer;
    &::after {
      font-family: $linearicons-icon;
      content: "\e93a";
      padding-left: 5px;
      padding-top: 3px;
      font-weight: normal;
      margin-top: -1px;
      float: right;
      @media (max-width: $screen-md-min - 1) {
        float: none;
      }
    }
    &.active {
      &::after {
        content: "\e939";
      }
    }
  }
  .dropdown {
    .mage-dropdown-dialog {
      @include transform(translateY(-30px));
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 50px;
      background: $switcher-dropdown-bg;
      box-shadow: $switcher-dropdown-shadow;
      border: none;
      width: 75px;
      text-align: center;
      z-index: 15;
      a {
        display: block;
        padding: 5px;
      }
    }
    &.active .mage-dropdown-dialog {
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0));
    }
  }
}

.switcher-label {
  display: none;
}

.switcher-options {
  border: 0;
  &.active {
    .switcher-dropdown {
      display: inline-block;
    }
  }
}

.switcher-trigger {
}

.switcher-dropdown {
  display: none;
}

.links {
  li {
    display: inline-block;
  }
}

//
//  Navigation
//  ---------------------------------------------

.page-top {
  margin-bottom: $indent-base;
}

//
//  Breadcrumbs
//  ---------------------------------------------

.breadcrumbs {
  background: $bg-dark;
  padding: 13px 0;
  position: relative;
  .items {
    .item {
      display: inline-block;
      font-size: $font-ultra-small;
      margin-right: 10px;
      padding-right: 10px;
      position: relative;
      &:after {
        content: '|';
        position: absolute;
        font-size: 20px;
        right: -5px;
        top: 0;
        color: $theme-line-1;
      }
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &:after {
          display: none;
        }
      }
      strong {
        font-weight: normal;
      }
    }
  }
}

.breadcrumbs + .page-main.page-shadow {
  padding-top: 30px;
}

//
//  Main content
//  --------------------------------------------

.page-main {
  padding-top: 100px;
  margin-bottom: 90px;
  @media (min-width: $screen-sm-min) {
    position: relative;
  }
  @media (max-width: $screen-sm-min - 1) {
    padding-top: 40px;
    margin-bottom: 30px;
  }
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.06) inset;
  &.page-shadow {
    box-shadow: none;
    padding-top: 20px;
  }
}
.page-main.fix-indent-2 {
  padding-top: 50px;
}

.breadcrumbs + .page-main {
  box-shadow: none;
}

.cms-index-index {
  .page-main.fix-indent {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .page-main.fix-indent + .page-footer {
    border: 0;
  }
}

//
//  Page layouts
//  ---------------------------------------------

.columns > .row {
  @include make-flex();
  @include flex(0 1 auto);
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

//Three columns
.page-layout-3columns {
  .grid-left {
    @include order(1);
  }
  .grid-main {
    @include order(2);
  }
  .grid-right {
    @include order(3);
  }
}

//Two columns with right aside
.page-layout-2columns-right {
  .grid-main {
    @include order(1);
  }
  .grid-right {
    @include order(2);
  }
}

//Two columns with left aside
.page-layout-2columns-left {
  .grid-left {
    @include order(1);
  }
  .grid-main {
    @include order(2);
  }
}

.page-layout-1column {

}

@media (max-width: $screen-sm-min - 1) {
  .page-layout-3columns,
  .page-layout-2columns-right,
  .page-layout-2columns-left {
    .grid-left,
    .grid-main {
      @include flex-basis(100%);
    }
    .grid-main {
      @include order(1);
    }
    .grid-left {
      @include order(2);
    }
    .grid-right {
      @include order(3);
    }
  }
}

//
//  Blocks
//  ---------------------------------------------

.block {
  margin-bottom: $indent-base;
}

.block-title {
  position: relative;
  @extend .heading-2;
  strong {
    margin: 0;
    width: 100%;
    display: inline-block;
    font-weight: 600;
  }
  .action {
    float: right;
    padding: 0;
    background: 0;
    line-height: inherit;
    &.edit {
      padding: 0 $button-padding-hor;
    }
  }
  .counter {
    display: none;
  }
}

.block-subtitle,
.block-content .subtitle {
  display: block;
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: 600;
  margin-bottom: 15px;
}

//
//  Boxes
//  ---------------------------------------------

.box {
  margin-bottom: 50px;
  border: 1px solid $theme-line-1;
  padding: 43px 49px;
  min-height: 264px;
  @media (max-width: $screen-md-min - 1) {
    margin-bottom: 30px;
    padding: 24px;
  }
  .box-content {
    font-size: $font-ultra-small;
  }
}

.box-title {
  margin-bottom: $indent-small;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding-right: 35px;
  @include clearfix;
  a.action.edit {
    padding: 0;
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.box-actions {
  a.action.change-password {
    @include button-block__primary;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      color: $white;
    }
  }
}

//
//  Sidebars
//  ---------------------------------------------
@media (min-width: $screen-sm-min) {
  .grid-left {
    border-right: 1px solid $theme-line-1;
  }
}

@media (min-width: $screen-md-min) {
  .grid-left {
    border-right: 0;
  }
}

.sidebar {
  font-size: $font-ultra-small;
  position: relative;
  @media (min-width: $screen-md-min) {
    border-right: 1px solid $theme-line-1;
    padding-right: 30px;
  }
  @media (min-width: $screen-xl-min) {
    padding-right: 45px;
  }
  .block {
    @media (min-width: $screen-sm-min) {
      border-bottom: 1px solid $theme-line-1;
      padding-bottom: 45px;
      margin-bottom: 50px;
      &[role="tabpanel"] {
        margin-bottom: 50px;
      }
    }
    .block-title {
      margin-bottom: 36px;
      strong {
        font-size: 26px;
        font-weight: 600;
        margin: 0;
      }
      .counter {
        display: none;
      }
      &.filter-title {
        margin-bottom: 48px;
      }
      &.left-custom-title {
        @include make-flex;
        @include align-items(center);
        margin-bottom: 20px;
        strong {
          font-size: 20px;
          font-weight: 400;
          line-height: 29px;
        }
        span {
          font-size: 40px;
          padding-right: 10px;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
          strong {
            font-size: 14px;
            line-height: 20px;
          }
          span {
            font-size: 21px;
          }
        }
      }
    }
    &.block-bg-custom {
      background: #f8f8fa;
      padding: 20px 30px;
      border: 0;
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
        padding: 10px 12px;
      }

    }
    &.block-border-custom {
      padding: 20px 30px;
      border: 1px solid $theme-line-1;
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
        padding: 10px 12px;
      }
    }
    &.block-bg_2-custom {
      padding: 20px 30px;
      color: #fff;
      border: 0;
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
        padding: 10px 12px;
      }
      .left-custom-title,
      .icon-telephone2:before {
        color: #fff;
      }
    }
  }

  &.sidebar-additional {
    .collapsible-block:last-child {
      .block:not(.block-newsletter) {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &.sidebar-main {
    padding-bottom: 45px;
    @media (max-width: $screen-sm-min - 1) {
      .block {
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: $screen-md-min - 1) {
    padding-top: 50px;
    &.sidebar-main + &.sidebar-additional {
      padding-top: 0;
    }
  }
}

.layout_4 {
  @media (min-width: $screen-sm-min) {
    .sidebar {
      border: 0;
      padding: 0;
    }
  }
  &.grid-left {
    border: 0;
  }
}

.block-reorder {
  .field.choice input[type="checkbox"],
  .field.choice input[type="radio"] {
    opacity: 1;
    position: relative;
    margin: 5px;
  }
  .field {
    @include make-flex;
    .label {
      margin-right: 5px;
    }
  }
  .product-item-name {
    font-size: $font-size-small;
  }
  .actions-toolbar {
    display: block;
    .primary {
      margin-bottom: 4px;
    }
  }
  .product-item {
    margin-bottom: 20px;
  }
  .product-item-name {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }

}

.collapsible-block {
  position: relative;
  .opener {
    @extend .heading-3;
    position: relative;
    cursor: pointer;
    padding: 0 0 12px;
    border-bottom: 1px solid $theme-line-1;

    &::before {
      float: right;
      @extend .medium;
      font-size: 14px;
    }
    @media (max-width: $screen-sm-min - 1) {
      display: block !important;
    }
  }
  &:last-child {
    .opener {
      border: 0;
    }
  }
}

.left-custom {
  .block-content {
    line-height: 22px;
  }
}

.filter-toggle-full {
  display: none;
}

@media (min-width: $screen-sm-min) {

  .grid-left-fixed {
    position: absolute;
    left: -265px;
    top: 100px;
    width: 265px;
    background: #fff;
    z-index: 10;
    box-shadow: $theme-shadow;
    height: 100%;
    transition: all 0.3s ease;
    overflow: scroll;
    &.id-active {
      left: 0;
    }
    .sidebar {
      padding: 80px 40px 50px 50px;
      border: 0;
      &.sidebar-main {
        .block {
          margin-bottom: 0;
        }
      }
    }
    .sidebar + .sidebar {
      &.sidebar-additional {
        padding-top: 0;
      }
    }
    .close {
      position: absolute;
      right: 40px;
      top: 20px;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease;
      &:after {
        font-family: $linearicons-icon;
        content: "\e935";
        font-size: 18px;
        padding-left: 10px;
        float: right;
        margin-top: -2px;
      }
    }
  }
  .layout_3 {
    .switcher {
      border: 0;
    }
    .filter-toggle-full {
      display: inline-block;
      float: left;
      @include button-block;
      margin-right: 25px;
      &:before {
        font-family: $linearicons-icon;
        content: "\e97c";
        font-size: 23px;
        font-weight: normal;
        float: left;
      }
    }
  }
}

//
//  Footer
//  ---------------------------------------------

.page-footer {
  clear: both;
  padding: 100px 0 40px;
  @media (max-width: $screen-sm-min - 1) {
    padding: 40px 0;
    background: #fff !important;
    border-top: 1px solid $theme-line-1;
  }
}

.cms-index-index {
  .page-footer {
    @media (max-width: $screen-sm-min - 1) {
      border-top: 0;
      padding-top: 0;
    }
  }
}

.footer {
  font-size: $font-ultra-small;
  h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .footer-col-content {
    li {
      display: block;
      margin-bottom: 6px;
      a {
        display: inline-block;
      }
    }
  }
  .switcher-store {
    position: fixed;
    left: 0;
    bottom: 30%;
    z-index: 3;

    .switcher-options.active {
      .action {
        border-bottom-color: #fff;
      }
      .switcher-dropdown {
        display: block;
      }
    }
    .switcher-dropdown {
      position: absolute;
      top: 100%;
      background: #fff;
      padding: 13px 22px;
      width: 100%;
      border: 1px solid $theme-line-1;
      border-top: 0;
    }
  }
  .copyright {
    display: block;
    width: 100%;
    border-top: 1px solid $theme-line-1;
    padding-top: 40px;
    margin-top: 36px;
    font-size: $font-ultra-small;
  }
  .footer-logo {
    margin-bottom: 28px;
    margin-top: -5px;
    .logo {
      display: inline-block;
    }
    @media (max-width: $screen-sm-min - 1) {
      margin: 0;
      padding-bottom: 25px;
    }
  }
  .desc-footer {
    margin-bottom: 33px;
    line-height: 22px;
  }
  .list-footer {
    overflow: hidden;
    li {
      float: left;
      margin-right: 15px;
      font-size: 21px;
    }
  }
  .list-icon {
    overflow: hidden;
    padding-top: 25px;
    li {
      float: left;
      margin-right: 5px;
      a {
        display: block;
        height: 48px;
        width: 48px;
        border: 2px solid $theme-line-1;
        border-radius: 50%;
        font-size: 18px;
        line-height: 42px;
        text-align: center;
        &:hover {
          color: #fff !important;
        }
        .fa {
          line-height: inherit;
        }
      }
    }
  }
  .footer-col-content {
    padding: 0;
  }

  @media (min-width: $screen-sm-min) {
    .footer-col-content {
      display: block !important;
      height: 100% !important;
      opacity: 1 !important;
    }
    .hidden-title {
      display: none;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    .hidden-title {
      display: block;
    }
    h4 {
      cursor: pointer;
      margin-bottom: 28px;
      &:after {
        font-family: $linearicons-icon;
        content: "\e93a";
        font-size: $font-ultra-small;
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
        margin-top: -1px;
      }
      &.id-active:after {
        content: "\e939";
      }
    }
    .footer-col-content {
      display: none;
    }
    .copyright {
      padding-top: 30px;
      margin-top: 30px;
    }
    .list-icon {
      padding-top: 20px;
    }
    .footer-col-content {
      padding: 0 0 30px;
    }
  }

  .footer-block-3 {
    .list-icon {
      padding-top: 0;
    }
  }

}

.layout_1 {
  &.page-footer {
    border-top: 1px solid $theme-line-1;
  }
  .footer {
    @media (max-width: $screen-lg-min - 1) and (min-width: $screen-sm-min) {
      .col-sm-4.col-lg-2 {
        order: 3;
        padding-top: 45px;
      }
      .first-extra {
        order: 1;
      }
      .last-extra {
        order: 2;
      }
    }
  }
}

.layout_2 {
  &.page-footer {
    border-top: 1px solid $theme-line-1;
  }
  .footer {
    @media (min-width: $screen-sm-min) {
      text-align: center;
      h4 {
        display: none;
      }
      .footer-col {
        margin-bottom: 7px;
      }
      .list-ul ul {
        display: inline-block;
        margin-top: 7px;
      }
      .footer-col-content {
        li {
          display: inline-block;
          margin: 0 10px;
        }
      }

      .list-contacts-footer {
        padding-top: 27px;
        li {
          border-right: 1px solid $theme-line-1;
          margin: 0 0 0 24px;
          padding: 8px 25px 8px 0;
          &:last-child {
            padding-right: 0;
            border: 0;
          }
        }
      }
      .copyright {
        margin-top: 105px;
      }
    }
    .list-icon {
      padding-top: 43px;
      li {
        float: none;
        display: inline-block;
        margin: 0 2px;
      }
    }
  }
}

.layout_3 {
  &.page-footer {
    border-top: 1px solid $theme-line-1;
    margin-top: -1px;
  }
  @media (max-width: $screen-lg-min - 1) and (min-width: $screen-sm-min) {
    .col-lg-2 {
      order: 3;
      margin-top: 40px;
    }
    .first-extra {
      order: 1;
    }
    .last-extra {
      order: 2;
    }
  }
}

.layout_4 {
  &.page-footer {
    @media (min-width: $screen-sm-min) {
      border-top: 1px solid $theme-line-1;
    }
  }
  .footer {
    .row {
      @media (max-width: $screen-md-min - 1) and (min-width: $screen-sm-min) {
        > div {
          order: 2;
          &.last-extra {
            order: 1;
            margin-bottom: 50px;
          }
        }

      }

    }
  }
}

.layout_5 {
  &.page-footer {
    border-top: 1px solid $theme-line-1;
  }
  .footer {
    @media (min-width: $screen-sm-min) {
      .align-right {
        text-align: right;
      }
      h4 {
        display: none;
      }
      .list-ul ul {
        display: inline-block;
        margin-top: 7px;
      }
      .footer-col-content {
        li {
          display: inline-block;
          margin: 0 10px;
        }
      }

      .list-contacts-footer {
        padding-top: 27px;
        li {
          border-right: 1px solid $theme-line-1;
          margin: 0 0 0 24px;
          padding: 8px 25px 8px 0;
          &:last-child {
            padding-right: 0;
            border: 0;
          }
        }
      }
    }
    .list-icon {
      padding-top: 30px;
      li {
        margin: 0 2px;
      }
      @media (max-width: $screen-md-min - 1) {
        padding-top: 15px;
        li a {
          width: 35px;
          height: 35px;
          font-size: 14px;
          line-height: 33px;
        }
      }
    }
    .copyright {
      margin-top: 40px;
      padding: 0;
      border: 0;
      color: #000;
    }
  }
}

//
//  To Top Button
//  ---------------------------------------------
.scrollToTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 64px;
  width: 64px;
  line-height: 69px;
  display: none;
  cursor: pointer;
  text-indent: 100vw;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  background: $white;
  box-shadow: $theme-shadow;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 12;
  &:before {
    font-family: $linearicons-icon;
    content: "\e941";
    text-indent: 0;
    font-size: 22px;
    display: block;
  }
  &:hover {
    color: $white;
  }
  @media (max-width: $screen-sm-min - 1) {
    bottom: 20px;
    right: 20px;
    height: 34px;
    width: 34px;
    line-height: 39px;
    &:before {
      font-size: 18px;
    }
  }
}

//
//  Home page layout_1
//  ---------------------------------------------

.widget {
  &.block-static-block,
  &.featured {
    padding-bottom: 95px;
    margin-bottom: 110px;
    border-bottom: 1px solid $theme-line-1;
    @media (max-width: $screen-lg-min - 1) {
      margin-bottom: 40px;
      padding-bottom: 40px;
    }
    @media (max-width: $screen-sm-min - 1) {
      &.featured + &.featured {
        padding-bottom: 25px;
      }
    }
  }
  &.featured {
    padding-bottom: 74px;
    margin-bottom: 100px;
    @media (max-width: $screen-lg-min - 1) {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
  }
  &.border-none,
  &.last_widget,
  &.brands.last_widget {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.widget.border-fix-none {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.widget.border-none-content {
  border: 0;
  padding-bottom: 0;
}

.widget.border-fix-indent {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 50px;
}
.widget.fix-indent-top {
  margin-top: -50px;
}

.content-flex-column {
  @media (min-width: $screen-lg-min) {
    @include make-row();
    @include make-flex;
    > div {
      @include flex(1 1 100%);
      @include make-col();
    }
    .widget {
      &.block-static-block,
      &.featured {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
      }
    }
  }

  @media (max-width: $screen-sm-min - 1) {
    .widget {
      &.block-static-block,
      &.featured {
        margin-bottom: 50px;
        border: 0;
      }
    }
  }

  .block-title {
    font-size: 26px;
  }

}

.layout_4 {
  .widget {
    &.block-static-block,
    &.featured {
      padding-bottom: 0;
      border: 0;
      margin-bottom: 47px;
      .page-title {
        text-align: left;
        font-size: 26px;
        margin-bottom: 45px;
        border-bottom: 1px solid $theme-line-1;
        padding-bottom: 25px;
      }
      .block-title:not(.left-custom-title) {
        margin-bottom: 30px;
      }
    }
  }
}

.custom-item-1 {
  display: block;
  position: relative;
  line-height: 1;
  margin-bottom: 50px;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  .custom-item-content {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
  }
  .title-1 {
    font-size: 35px;
    margin-bottom: 18px;
    font-weight: 600;
    color: $white;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 45px;
    color: $white;
  }

  .link-button {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    font-size: 16px;
    background: none;
    padding: 18px 42px;
  }
  &.extra {
    .custom-item-content {
      left: 15%;
      top: 49%;
      transform: translate(-15%, -50%);
      -webkit-transform: translate(-15%, -50%);
      text-align: left;
    }
  }
  img {
    transition: all 0.3s ease;
  }
  &:hover {
    img {
      transform: scale(1.03, 1.03) rotate(0.03deg) translateZ(0);
    }
  }
  @media (max-width: $screen-lg-min - 1) {
    .title-1 {
      font-size: 24px;
      margin-bottom: 12px;
    }
    .desc-1 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: $screen-xs-min - 1) {
    .title-1 {
      font-size: 18px;
    }
    .desc-1 {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .link-button {
      padding: 6px 25px 4px;
      font-size: $font-ultra-small;
    }
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
    margin-bottom: 35px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
    margin-bottom: 23px;
  }
  @media (max-width: $screen-sm-min - 1) {
    margin-bottom: 0;
  }

}

.custom-item-2 {
  display: block;
  position: relative;
  overflow: hidden;
  .custom-item-content {
    position: absolute;
    top: 13.5%;
    text-align: center;
    padding: 30px;
    width: 100%;
    line-height: 1.3;
  }

  .title-1 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .link-button {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    padding: 20px 42px;
    font-size: 16px;
  }
  img {
    transition: all 0.3s ease;
  }
  &:hover {
    img {
      transform: scale(1.03, 1.03) rotate(0.03deg) translateZ(0);
    }
  }
  @media (max-width: $screen-lg-min - 1) {
    .title-1 {
      font-size: 28px;
      margin-bottom: 12px;
    }
    .desc-1 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    margin-top: 0;
  }
}

.custom-item-3 {
  position: relative;
  overflow: hidden;
  .custom-item-content {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 25px;
    line-height: normal;
  }
  .title-1 {
    font-size: 35px;
    font-weight: 600;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    padding: 20px 48px;
    font-size: 16px;
    &:hover {
      background: $white;
      border-color: $white;
    }
  }
  &.extra {
    .title-1,
    .desc-1 {
      color: $white;
    }
  }
  @media (max-width: $screen-md-min - 1) {
    .link-custom {
      padding: 9px 22px 7px 22px;
      font-size: 13px;
    }
    .title-1 {
      font-size: 24px;
    }
    .desc-1 {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    &.extra {
      margin-top: 30px;
    }
  }
  @media (max-width: $screen-xs-min - 1) {
    .title-1 {
      font-size: 20px;
    }
    .desc-1 {
      font-size: 16px;
    }
    .link-custom {
      padding: 8px 25px 6px;
    }
  }
}

.custom-item-4:not(.extra) {
  position: relative;
  overflow: hidden;
  .custom-item-content {
    position: absolute;
    left: 12%;
    right: 12%;
    bottom: -7px;
    text-align: center;
    text-transform: uppercase;
    background: $white;
    padding: 38px 10px 0;
  }
  .title-1 {
    font-size: 24px;
    margin-bottom: 21px;
    letter-spacing: 0.03em;
    @media (max-width: $screen-md-min - 1) and (min-width: $screen-sm-min) {
      font-size: 20px;
    }
  }
  .link-custom {
    text-transform: uppercase;
    font-weight: 600;
  }
  img {
    width: 100%;

  }
  &.extra {
    display: none;
  }
}

.custom-item-4.extra {
  position: relative;
  .custom-item-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    background: rgba(59, 242, 188, 0.8);
    left: 12%;
    right: 12%;
    padding: 76px 15px 63px;
    color: $white;
    line-height: 1;
  }
  .title-1 {
    font-size: 84px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .slog-1 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    padding: 20px 48px;
  }
  img {
    max-width: 100%;
  }
  @media (max-width: $screen-lg-min - 1) {
    .title-1 {
      font-size: 54px;
    }
    .desc-1 {
      font-size: 20px;
    }
    .slog-1 {
      font-size: 34px;
      margin-bottom: 15px;
    }
  }
  @media (max-width: $screen-md-min - 1) and (min-width: $screen-sm-min) {
    .custom-item-content {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .link-custom {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
}

@media (max-width: $screen-sm-min - 1) {
  .custom-item-4 {
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
}

.custom-item-5 {
  @include make-flex;
  @include align-items(center);
  @include flex-wrap(wrap);
  > div {
    @include flex(1 1 50%);
  }
  .custom-item-content {
    text-align: center;
    padding: 33px 90px 25px 20px;
  }
  .banner-label {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .title-1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 52px;
    margin-bottom: 23px;
  }
  .desc-1 {
    padding: 0 10%;
    margin-bottom: 43px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    font-size: $default-font-size;
    padding: 18px 36px;
    letter-spacing: 0.03em;
  }
  @media (max-width: $screen-lg-min - 1) {
    .title-1 {
      font-size: 30px;
      line-height: 38px;
    }
  }
  @media (max-width: $screen-md-min - 1) {
    > div {
      @include flex(1 1 100%);
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .custom-item-content {
    padding: 0;
  }
  img {
    width: 100%;
  }

}

.custom-item-6 {
  display: block;
  position: relative;
  overflow: hidden;
  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    line-height: normal;
    color: $white;
  }

  .title-1 {
    font-size: 35px;
    font-weight: 600;
    margin-top: -4px;
  }
  .desc-1 {
    font-size: 24px;
  }
  .title-1 + .desc-1 {
    margin-top: -4px;
    margin-bottom: 4px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    margin-top: 31px;
    @media (min-width: $screen-md-min) {
      padding: 18px 42px;
      font-size: 16px;
    }
  }
  @media (max-width: $screen-md-min - 1) {
    .custom-item-content {
      line-height: 2.2em;
    }
    .title-1 {
      font-size: 28px;
    }
    .desc-1 {
      font-size: 20px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    margin-bottom: 30px;
  }
}

.list-brand-static {
  @include make-flex;
  @include justify-content(space-between);
  margin: 0 -15px;
  li {
    padding: 0 15px;
  }
  a {
    display: block;
    &:hover {
      opacity: 0.5;
    }
  }
  @media (max-width: $screen-md-min - 1) {
    @include flex-wrap(wrap);
    li {
      padding: 15px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    li {
      @include make-col();
      @include flex-basis(50%);
    }
  }
}

.custom-item-7 {
  @include make-flex;
  @include align-items(center);
  @include flex-wrap(wrap);
  .item {
    @include flex-basis(33.33333%);
    position: relative;
    @media (max-width: $screen-xs-min - 1) {
      @include flex-basis(100%);
    }
  }
  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    line-height: normal;
    color: $white;
    text-align: center;
    width: 100%;

  }
  .title-1 {
    font-size: 35px;
    font-weight: 600;
    margin-top: -4px;
  }
  .desc-1 {
    font-size: 24px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    margin-top: 31px;
    background: none;
    @media (min-width: $screen-md-min) {
      padding: 18px 42px;
      font-size: 16px;
    }
  }
  img {
    width: 100%;
  }

  .extra-position {
    .custom-item-content {
      top: 31%;
      color: #000;
    }
    .link-custom {
      color: #000;
      &:hover {
        color: #fff;
      }
    }
  }

  @media (max-width: $screen-lg-min - 1) {
    .title-1 {
      font-size: 23px;
    }
    .desc-1 {
      font-size: 18px;
    }
    .link-custom {
      font-size: 13px;
      padding: 10px 34px;
      margin-top: 20px;
    }
    .extra-position {
      .custom-item-content {
        top: 35%;
      }
    }
  }

  @media (max-width: $screen-sm-min - 1) and (min-width: $screen-xs-min) {
    .title-1 {
      font-size: 14px;
    }
    .desc-1 {
      font-size: 13px;
    }
    .link-custom {
      font-size: 12px;
      padding: 4px 25px;
      margin-top: 10px;
    }
    .extra-position {
      .custom-item-content {
        top: 50%;
      }
    }
  }
}

.custom-item-8 {
  @include make-flex;
  @include align-items(center);
  @include flex-wrap(wrap);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  .item {
    @include flex-basis(50%);
    position: relative;
    @media (max-width: $screen-sm-min - 1) {
      @include flex-basis(100%);
    }
  }
  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    line-height: normal;
    color: $white;
    text-align: center;
    width: 100%;
    padding: 0 20px;

  }
  .title-1 {
    font-size: 35px;
    font-weight: 600;
    margin-top: -4px;
  }
  .desc-1 {
    font-size: 24px;
    @media (max-width: $screen-md-min) {
      line-height: 28px;
    }
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    margin-top: 31px;
    background: none;
    @media (min-width: $screen-md-min) {
      padding: 18px 42px;
      font-size: 16px;
    }
  }
  img {
    width: 100%;
  }
}

.custom-item-9 {
  @include make-row();
  @include make-flex;
  @include align-items(center);
  @include flex-wrap(wrap);
  .item {
    @include flex-basis(50%);
    @include make-col();
    position: relative;
    @media (max-width: $screen-sm-min - 1) {
      @include flex-basis(100%);
    }
  }
  .position-relative {
    position: relative;
  }
  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    padding: 10px 50px 10px 10px;
    text-align: right;
  }
  .title-1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .link-custom {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
  }
  img {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min  - 1) {
    .custom-item-content {
      padding-right: 25px;
    }
    .title-1 {
      font-size: 26px;
      margin-bottom: 5px;
    }
    .desc-1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .link-custom {
      font-size: 14px;
    }
  }
  @media (max-width: $screen-xs-min  - 1) {
    .custom-item-content {
      padding-right: 25px;
    }
    .title-1 {
      font-size: 26px;
      margin-bottom: 5px;
    }
    .desc-1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .link-custom {
      font-size: 14px;
    }
  }
}

.custom-item-10 {
  position: relative;
  padding-bottom: 12px;
  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: right;
    padding: 20px 50px;
  }
  .title-1 {
    font-size: 35px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .link-custom {
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-sm-min  - 1) {
    .custom-item-content {
      padding: 20px;
    }
    .title-1 {
      font-size: 20px;
      margin-bottom: 0;
    }
    .desc-1 {
      font-size: 13px;
      margin-bottom: 0;

    }
    .link-custom {
      font-size: 13px;
    }
  }
}

.custom-item-indent {
  .col-sm-6 {
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 50px;
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-min  - 1) {
        margin-bottom: 30px;
      }
    }
    @media (max-width: $screen-sm-min - 1) {
      margin-bottom: 30px;
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 30px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.custom-item-11 {
  position: relative;
  overflow: hidden;

  .custom-item-content {
    position: absolute;
    top: 13.5%;
    padding: 60px;
    width: 100%;
    line-height: 1.3;
    color: #fff;
  }

  .title-1 {
    font-size: 65px;
    font-weight: 600;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 35px;
  }
  .link-custom {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    transition: all 0.3s ease;
  }
  &:hover {
    img {
      transform: scale(1.03, 1.03) rotate(0.03deg) translateZ(0);
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min  - 1) {
    .custom-item-content {
      top: 6%;
      padding: 30px;
    }
    .title-1 {
      font-size: 40px;
    }
    .desc-1 {
      font-size: 20px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    .custom-item-content {
      top: 12%;
      padding: 30px;
    }
    .title-1 {
      font-size: 44px;
    }
    .desc-1 {
      font-size: 20px;
    }
  }
  @media (max-width: $screen-xs-min - 1) {
    .custom-item-content {
      top: 4%;
      padding: 15px;
    }
  }
}

.custom-item-12 {
  position: relative;
  overflow: hidden;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  .custom-item-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    line-height: 1.1;
  }
  .desc-1 {
    font-size: 34px;
  }
  .title-1 {
    font-size: 114px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    background: none;
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-lg-min - 1) {
    .desc-1 {
      font-size: 26px;
    }
    .title-1 {
      font-size: 65px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    .desc-1 {
      font-size: 16px;
      margin-bottom: 5px;
    }
    .title-1 {
      font-size: 23px;
      margin-bottom: 10px;
    }
    .link-custom {
      font-size: 12px;
      padding: 6px 20px;
    }
  }
  @media (max-width: $screen-xs-min - 1) {
    .custom-item-content {
      width: 100%;
    }
    .desc-1 {
      font-size: 14px;
    }
    .title-1 {
      font-size: 18px;
    }
  }
}

.custom-item-13 {
  text-align: center;
  .custom-content {
    border: 1px solid $theme-line-1;
    padding: 59px 25px;
    height: 100%;
    @include make-flex;
    @include flex-direction(column);
  }
  span {
    font-size: 42px;
    display: block;
    margin-bottom: 27px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 27px;
    line-height: 1.2;
  }
  .desc-content {
    font-size: 12px;
    line-height: 22px;
  }
  @media (max-width: $screen-lg-min - 1) {
    .title {
      font-size: 19px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.custom-item-14 {
  position: relative;
  overflow: hidden;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  .custom-item-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    line-height: 1.1;
  }
  .title-1 {
    font-size: 84px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 53px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    background: none;
    padding: 18px 40px;
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-lg-min - 1) {
    .title-1 {
      font-size: 35px;
    }
    .desc-1 {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .link-custom {
      padding: 8px 30px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    .custom-item-content {
      left: 30%;
    }
    .title-1 {
      font-size: 26px;
    }
    .desc-1 {
      font-size: 14px;
    }
    .link-custom {
      font-size: 13px;
    }

  }
  @media (max-width: $screen-xs-min - 1) {
    .custom-item-content {
      left: 35%;
    }
    .title-1 {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .desc-1 {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .link-custom {
      font-size: 12px;
      padding: 4px 20px;
    }
  }
}

.custom-item-15 {
  position: relative;
  overflow: hidden;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  .custom-item-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    line-height: 1.1;
  }
  .title-1 {
    font-size: 84px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 53px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    background: none;
    padding: 18px 40px;
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-lg-min - 1) {
    .title-1 {
      font-size: 35px;
    }
    .desc-1 {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .link-custom {
      padding: 8px 30px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    .custom-item-content {
      left: 70%;
    }
    .title-1 {
      font-size: 26px;
    }
    .desc-1 {
      font-size: 14px;
    }
    .link-custom {
      font-size: 13px;
    }

  }
  @media (max-width: $screen-xs-min - 1) {
    .custom-item-content {
      left: 65%;
    }
    .title-1 {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .desc-1 {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .link-custom {
      font-size: 12px;
      padding: 4px 20px;
    }
  }
}

.row-main-custom {
  @include make-flex;
  margin: 0 -25px;
  margin-bottom: 50px;
  .col-main-custom {
    padding: 0 25px;
  }
  @media (max-width: $screen-sm-min - 1) {
    @include flex-wrap(wrap);
  }
}

.custom-item-16 {
  .item {
    margin-bottom: 50px;
    @media (max-width: $screen-lg-min - 1) {
      margin-bottom: 35px;
    }
    @media (min-width: $screen-sm-min) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .position-relative {
    position: relative;
  }
  .custom-item-content {
    position: absolute;
    top: 51%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    padding: 10px 50px 10px 10px;
    text-align: right;
  }
  .title-1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .link-custom {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
  }
  img {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min  - 1) {
    .custom-item-content {
      padding-right: 25px;
    }
    .title-1 {
      font-size: 26px;
      margin-bottom: 5px;
    }
    .desc-1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .link-custom {
      font-size: 14px;
    }
  }
  @media (max-width: $screen-xs-min  - 1) {
    .custom-item-content {
      padding-right: 25px;
    }
    .title-1 {
      font-size: 26px;
      margin-bottom: 5px;
    }
    .desc-1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .link-custom {
      font-size: 14px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    .item {
      margin-bottom: 30px;
    }
  }
}

.custom-item-17 {
  position: relative;
  .custom-item-content {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  .title-1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    background: none;
    padding: 18px 40px;
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-md-min  - 1) {
    .title-1 {
      font-size: 20px;
    }
    .desc-1 {
      font-size: 18px;
    }
    .link-custom {
      padding: 8px 30px;
    }
  }

}

.custom-item-18 {
  position: relative;
  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    color: #fff;
    line-height: 1;
  }
  .title-1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .link-custom {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-lg-min  - 1) {
    .title-1 {
      font-size: 24px;
    }
    .desc-1 {
      font-size: 18px;
      margin-bottom: 15px;

    }
  }
  @media (max-width: $screen-sm-min  - 1) {
    .title-1 {
      font-size: 14px;
    }
    .desc-1 {
      font-size: 13px;
    }
    .link-custom {
      font-size: 12px;
    }
  }
  @media (max-width: $screen-xs-min  - 1) {
    .title-1 {
      margin-bottom: 10px;
    }
    .desc-1 {
      display: none;
    }
  }
}

.custom-item-19 {
  position: relative;
  .custom-item-content {
    position: absolute;
    top: 18.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  .title-1 {
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 70px;
  }
  .desc-1 {
    font-size: 24px;
    margin-bottom: 22px;;
    line-height: 35px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    background: none;
    padding: 18px 45px;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-lg-min  - 1) {
    .custom-item-content {
      width: 80%;
    }
    .title-1 {
      font-size: 30px;
      line-height: 40px;
    }
    .desc-1 {
      font-size: 20px;
      line-height: 28px;
    }
    .link-custom {
      padding: 8px 25px;
    }
  }
  @media (max-width: $screen-md-min  - 1) {
    .custom-item-content {
      top: 28%;
    }
    .link-custom {
      width: 60%;
      text-align: center;
    }
  }
}

.custom-item-20 {
  position: relative;
  margin-bottom: 50px;
  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 1;
  }
  .title-1 {
    font-size: 95px;
    font-weight: 500;
    margin-bottom: 14px;
    text-transform: uppercase;
  }
  .desc-1 {
    font-size: 34px;
    margin-bottom: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .link-custom {
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-lg-min  - 1) {
    margin-bottom: 37px;
    .title-1 {
      font-size: 60px;
    }
  }
  @media (max-width: $screen-md-min  - 1) {
    margin-bottom: 23px;
    .desc-1 {
      font-size: 18px;
    }
    .title-1 {
      font-size: 30px;
    }
  }
  @media (max-width: $screen-xs-min  - 1) {
    .desc-1 {
      font-size: 14px;
    }
    .title-1 {
      font-size: 18px;
    }
    .link-custom {
      font-size: 13px;
    }
  }
}

.custom-item-21 {
  position: relative;
  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 1;
  }
  .title-1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 62px;
    margin-bottom: 28px;
    text-transform: uppercase;
  }
  .desc-1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    background: none;
    padding: 18px 45px;
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-lg-min  - 1) {
    .title-1 {
      font-size: 30px;
      line-height: 36px;
    }
    .link-custom {
      padding: 7px 33px;
    }
  }
  @media (max-width: $screen-md-min  - 1) {
    .custom-item-content {
      width: 90%;
    }
  }
}

.custom-item-22 {
  position: relative;
  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 1;
    width: 88%;
  }
  .title-1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 62px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  .desc-1 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  .link-custom {
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    width: 100%;
  }
  @media (max-width: $screen-lg-min  - 1) {
    .title-1 {
      font-size: 30px;
      line-height: 36px;
    }
  }
  @media (max-width: $screen-md-min  - 1) {
    .custom-item-content {
      width: 90%;
    }
    .desc-1 {
      font-size: 13px;
      line-height: 20px;
    }
    .title-1 {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 20px;
    }
  }

}

.custom-item-23 {
  .title-static-block {
    font-size: 24px;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;
  }
  @media (max-width: $screen-md-min  - 1) {
    .title-static-block {
      margin-bottom: 25px;
      font-size: 20px;
    }
  }
}

.custom-item-24 {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.custom-item-25 {
  .item {
    margin-bottom: 50px;
  }
  .position-relative {
    position: relative;
    display: block;
  }
  .custom-item-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .title-1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .desc-1 {
    font-size: 24px;
  }
  img {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min  - 1) {
    .title-1 {
      font-size: 20px;
    }
    .desc-1 {
      font-size: 18px;
    }
  }

  @media (max-width: $screen-xs-min  - 1) {
    .title-1 {
      font-size: 26px;
    }
    .desc-1 {
      font-size: 20px;
    }
  }
}

.custom-item-26 {
  font-size: 12px;
  line-height: 22px;
  > div {
    @include make-flex;
  }
  .block-bg-custom {
    background: #f8f8fa;
    padding: 47px 30px 30px;
    border: 0;
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
      padding: 10px 12px;
    }

  }
  .block-border-custom {
    padding: 45px 30px 30px;
    border: 1px solid $theme-line-1;
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
      padding: 10px 12px;
    }
  }
  .block-bg_2-custom {
    padding: 45px 30px 30px;
    color: #fff;
    border: 0;

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
      padding: 10px 12px;
    }
    .left-custom-title,
    .icon-telephone2:before {
      color: #fff;
    }
  }
  .left-custom-title {
    @include make-flex;
    @include align-items(center);
    margin-bottom: 13px;
    strong {
      font-size: 20px;
      font-weight: 400;
      line-height: 29px;
    }
    span {
      font-size: 40px;
      padding-right: 10px;
      margin-top: -7px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
      strong {
        font-size: 14px;
        line-height: 20px;
      }
      span {
        font-size: 21px;
      }
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    > div {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.custom-item-27 {
  @media (min-width: $screen-sm-min)  {
    margin-left: calc(50% - 49.6vw);
    margin-right: calc(50% - 49.6vw);
  }
  @include make-flex;
  .item {
    @include flex-basis(33.333%);
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border: 12px solid #000;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s ease;
    }
    &:hover:before  {
      opacity: 0.6;
    }
  }

  .custom-item-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    line-height: 1;
    padding: 0 0 0 84px;
    width: 100%;
    @include make-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(flex-start);
  }
  .title-1 {
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    span {
      font-weight: 300;
      display: block;
    }
    margin-bottom: 10px;
  }
  .desc-1 {
    font-size: 130px;
    font-weight: bold;
    letter-spacing: -5px;
    margin-bottom: 15px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    background: none;
    padding: 18px 45px;

  }
  .item-extra {
    .custom-item-content {
      text-align: center;
      padding-left: 0;
      @include align-items(center);
    }
    .title-1 {
      font-size: 84px;
      margin-bottom: 50px;
    }
  }
  .item-extra-2 {
    .desc-1 {
      color: #ee221d;
    }
    .link-custom {
      &:hover {
        background: none !important;
      }
    }
  }

  @media (max-width: 1766px)  {
    .title-1 {
      font-size: 54px;
    }
    .desc-1 {
      font-size: 80px;
    }
    .item-extra {
      .title-1 {
        font-size: 60px;
      }
    }
  }
  @media (max-width: 1366px)  {
    .title-1 {
      font-size: 30px;
    }
    .desc-1 {
      font-size: 40px;
      letter-spacing: 0;
    }
    .item-extra {
      .title-1 {
        font-size: 40px;
      }
    }
  }
  @media (max-width: $screen-lg-min - 1) and  (min-width: $screen-sm-min) {
    .custom-item-content {
      padding-left: 35px;
    }
  }
  @media (max-width: $screen-sm-min - 1)  {
    @include flex-wrap(wrap);
    .item {
      @include flex-basis(100%);
    }
  }
}

.custom-item-28 {
  @include make-flex;
  .item {
    @include flex-basis(33.333%);
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border: 12px solid #000;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s ease;
    }
    &:hover:before  {
      opacity: 0.6;
    }

  }

  .custom-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 1;
    width: 100%;
    padding: 0 0 0 50px;
  }
  .title-1 {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    span {
      font-weight: 300;
      display: block;
    }
    margin-bottom: 10px;
  }
  .desc-1 {
    font-size: 90px;
    font-weight: bold;
    letter-spacing: -5px;
    margin-bottom: 15px;
  }
  .link-custom {
    @include button-block;
    @include button-block__primary;
    transition: all 0.3s ease;
    background: none;
    padding: 18px 45px;
  }
  .item-extra {
    .custom-item-content {
      text-align: center;
      padding-left: 0;
    }
    .title-1 {
      font-size: 64px;
      margin-bottom: 40px;
    }
  }
  .item-extra-2 {
    .desc-1 {
      color: #ee221d;
    }
  }

  @media (max-width: $screen-lg-min - 1) and  (min-width: $screen-sm-min) {
    .custom-item-content {
      padding-left: 30px;
    }
    .title-1 {
      font-size: 28px;
    }
    .desc-1 {
      font-size: 45px;
      letter-spacing: 0;
    }
    .item-extra .title-1 {
      font-size: 45px;
      margin-bottom: 30px;
    }
    .link-custom {
      padding-top: 10px;
      padding-bottom: 10px;
    }

  }
  @media (max-width: $screen-sm-min - 1)  {
    @include flex-wrap(wrap);
    .item {
      @include flex-basis(100%);
    }
  }
  @media (max-width: $screen-xs-min - 1)  {
    .title-1 {
      font-size: 40px;
    }
    .desc-1 {
      font-size: 30px;
      letter-spacing: 0;
    }
    .item-extra .title-1 {
      font-size: 45px;
      margin-bottom: 30px;
    }
    .link-custom {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.custom-item-29 {
  li {
    @media (min-width: $screen-sm-min)  {
      margin-bottom: 0;
    }
  }
  .custom-content {
    border-width: 3px;
    border-color: #000;
    transition: all 0.3s ease;
    &:hover {
      border-color: #ee221d;
    }
  }
  .title {
    text-transform: uppercase;
    font-weight: bold;
  }
}


.social-sharing {
  overflow: hidden;
  margin-bottom: -14px;
}

//
//  Page Preloader Colors
//  ---------------------------------------------

#page-preloader .spinner:before,
#page-preloader .spinner:after,
.loading-mask .loader:before,
.loading-mask .loader:after {
  border-width: 3px;
  border-style: solid;
}
.loading-mask {
  display: none;
}
.checkout-index-index {
  .loading-mask {
    display: block;
  }
}
.cms-index-index.ajax-loading .loader p {
  display:none !important;
}

.cms-index-index._has-modal.ajax-loading .action.delete:after {
  content: "";
  position: absolute;
  right: 35px;
  top: 15px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 2px dashed;
  border-radius: 50%;
  animation: cssload-spin 690ms infinite linear;
  -o-animation: cssload-spin 690ms infinite linear;
  -ms-animation: cssload-spin 690ms infinite linear;
  -webkit-animation: cssload-spin 690ms infinite linear;
  -moz-animation: cssload-spin 690ms infinite linear;
}
@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.check_privacy_field {
  margin-top: 10px;
  @include make-flex;
  .check_privacy {
    margin: 0 15px 0 0;
  }
  span {
    font-size: 13px;
    line-height: 18px;
  }
  a:hover {
    text-decoration: underline;
    color: inherit;
  }
}
.disable-checked {
  pointer-events: none;
  opacity: 0.4;
}

@media (max-width: $screen-sm-min - 1) {
  #block-cookies-wrap {
    margin-top: 75px;
  }
}
  //
//  Helpers
//  ---------------------------------------------
.no-display {
  display: none;
}

@import "_pages.scss";