<?php 
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_GeoIPAutoSwitchStore
 * @author     Extension Team
 * @copyright  Copyright (c) 2016-2017 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<?php
    $enable = $block->getPopupEnable();
    $ajaxUrl = $block->getAjaxUrl();
    $currentUrl = $block->getCurrentUrl();
    $currentPath = $block->getCurrentPath();
?>

<?php if ($enable): ?>
    <div class="popup_geoip_content"></div>
    <script type="text/x-magento-init">
        {
            "*": {
                "Bss_GeoIPAutoSwitchStore/js/popup": {
                    "ajaxUrl": "<?php echo $ajaxUrl; ?>",
                    "currentUrl": "<?php echo $currentUrl; ?>",
                    "currentPath": "<?php echo $currentPath; ?>"
                }
            }
        }
    </script>
<?php endif; ?>
