/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_GeoIPAutoSwitchStore
 * @author     Extension Team
 * @copyright  Copyright (c) 2016-2017 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
& when (@media-common = true) {

    #row_bss_geoip_varnish_access_list span{
        display: none;
    }

    #row_bss_geoip_varnish_access_list code {
        background: #f0f0f0;
        padding: 10px;
        float: left;
        box-sizing: border-box;
        margin: 10px 0 10px 0;
        width: 100%;
    }
    .download_geoip{
        width: 100%;
        float: left;
        line-height: 25px;
        margin: 10px 0 0px 0;
        transition: height 2s;
        -moz-transition: height 2s;
        -webkit-transition: height 2s;
        -o-transition: height 2s;
    }
    .download_geoip p, .unzipping p, .import_database p, .deletin p {
        float: left;
    }
    .import_database p.percent_child {
        float: left;
    }
    .download_geoip img, .unzipping img, .import_database img, .deleting img {
        display: none;
        float: left;
        margin: 0 0 5px 0;
    }
    p.last_update {
        margin: 5px 0 0 0;
    }

    .unzipping, .import_database, .deleting {
        width: 100%;
        float: left;
        line-height: 25px;
        margin: 0px 0 0px 0;
        transition: height 2s;
        -moz-transition: height 2s;
        -webkit-transition: height 2s;
        -o-transition: height 2s;
    }
    .done_import {
        color: #3c763d;
        background-color: #dff0d8;
        border: 1px #d6e9c6 solid;
        width: 100%;
        float: left;
        margin: 10px 0 0px 0;
        border-radius: 2px;
        padding: 8px 0 8px;
        text-align: center;
        transition: height 2s;
        -moz-transition: height 2s;
        -webkit-transition: height 2s;
        -o-transition: height 2s;
    }
    .percent {
        margin: 10px 10px 10px 0;
        width: 50%;
        border: 1px #ABCE8E solid;
        border-radius: 2px;
        height: 5px;
        float: left;
        overflow: hidden;
    }
    .percent_child {
        width: 0;
        background: #ABCE8E;
        height: 5px;
        margin: 0;
        float: left;
        transition: width 1s;
    }

    .download_geoip_ipv6{
        width: 100%;
        float: left;
        line-height: 25px;
        margin: 10px 0 0px 0;
        transition: height 2s;
        -moz-transition: height 2s;
        -webkit-transition: height 2s;
        -o-transition: height 2s;
    }
    .download_geoip_ipv6 p, .unzipping_ipv6 p, .import_database_ipv6 p, .deletin_ipv6 p {
        float: left;
    }
    .import_database_ipv6 p.percent_child_ipv6 {
        float: left;
    }
    .download_geoip_ipv6 img, .unzipping_ipv6 img, .import_database_ipv6 img, .deleting_ipv6 img {
        display: none;
        float: left;
        margin: 0 0 5px 0;
    }
    p.last_update_ipv6 {
        margin: 5px 0 0 0;
    }

    .unzipping_ipv6, .import_database_ipv6, .deleting_ipv6 {
        width: 100%;
        float: left;
        line-height: 25px;
        margin: 0px 0 0px 0;
        transition: height 2s;
        -moz-transition: height 2s;
        -webkit-transition: height 2s;
        -o-transition: height 2s;
    }
    .done_import_ipv6 {
        color: #3c763d;
        background-color: #dff0d8;
        border: 1px #d6e9c6 solid;
        width: 100%;
        float: left;
        margin: 10px 0 0px 0;
        border-radius: 2px;
        padding: 8px 0 8px;
        text-align: center;
        transition: height 2s;
        -moz-transition: height 2s;
        -webkit-transition: height 2s;
        -o-transition: height 2s;
    }
    .percent_ipv6 {
        margin: 10px 10px 10px 0;
        width: 50%;
        border: 1px #ABCE8E solid;
        border-radius: 2px;
        height: 5px;
        float: left;
        overflow: hidden;
    }
    .percent_child_ipv6 {
        width: 0;
        background: #ABCE8E;
        height: 5px;
        margin: 0;
        float: left;
        transition: width 1s;
    }
}
