.widget.brands {
  border-bottom: 1px solid $theme-line-1;
  padding-bottom: 60px;
  margin-bottom: 110px;
  margin-top: -25px;
  @media (max-width: $screen-lg-min - 1) {
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin-top: 0;
  }
  .block-content .brandlist {
    margin-bottom: 0;
  }
}


.brand-list {
  .brand-item {
    @include flex-basis(25%);
    @include make-col();
    margin-bottom: 50px;
    @media (max-width: $screen-lg-min - 1) {
      @include flex-basis(33.3333%);
    }
    @media (max-width: $screen-md-min - 1) {
      @include flex-basis(50%);
      margin-bottom: 30px;
    }
    .inner {
      padding: 25px 25px 35px;
      border: 1px solid $theme-line-1;
    }
    .brand-item-name {
      margin: 0;
      font-size: 20px;
      font-weight: normal;
      @media (max-width: $screen-md-min - 1) {
        font-size: 16px;
      }
    }
  }
}
.product-brand {
  display: inline-block;
  text-align: center;
  padding: 0;
  border: 1px solid $theme-line-1;
  .product-brand-logo {
    max-width: 90px;
    margin: 0 auto;
  }
  .product-brand-name {
    padding: 4px;
    margin: 0;
    border-bottom: 1px solid $theme-line-1;
  }
}
.widget.brands {
  .brand-logo {
    &:hover {
      opacity: 0.7;
    }
  }
}
