//
//  Fonts
//  _____________________________________________
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&display=swap');

//
//  Variables
//  _____________________________________________
@dibs-font-family: 'Source Sans Pro', sans-serif;
@dibs-color-blue: #247EB2;
@dibs-light-blue: #0094CF;
@dibs-color-light-grey: #E5E5E5;
@dibs-color-dark-grey: #979797;
@dibs-color-white: #FFFFFF;
@dibs-color-black: #000000;
@dibs-color-dark: #444444;
@dibs-color-border: #D1D1D1;
@dibs-border: 1px solid @dibs-color-border;
@calc-width: 205px;

//
//  Mixins
//  _____________________________________________

.dibs-btn {
  background-image: linear-gradient(0deg, #007EB2 0%, #0094CF 99%) !important;
  border-radius: 25px !important;
  color: #ffffff !important;
  border: none !important;
  font-family: @dibs-font-family !important;
  font-weight: 600;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 126, 178, 0.5) !important;
  }

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  }
}

.dibs-white__backdrop {
  background-color: @dibs-color-white;
  border-radius: 4px;
  padding: 40px;
}

.dibs-heading {
  font-size: 25px;
  font-weight: 700;
  color: @dibs-color-black;
}

.dibs-table-align {
  width: ~"calc(100% - 205px)";
  left: 205px;
  position: relative;
}

.radio {
  &,
  &:checked:after {
    border-radius: 50% !important;
  }
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 0;
  border: @dibs-border;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 4px;
  margin-bottom: 0 !important;

  &:checked:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    top: 0;
    left: 0;
    line-height: 20px;
    text-align: center;
    background: @dibs-light-blue url("../images/checkmark.svg") no-repeat 50% 50%;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border-color: @dibs-light-blue;
  }
}

//
//  Main
//  _____________________________________________

.dibs_easy_checkout-index-index {
  -webkit-font-smoothing: antialiased;

  .page-title-wrapper,
  .nav-toggle {
    display: none;
  }

  .page-header {
    background-color: @dibs-color-white;
  }

  .page-wrapper {
    background-color: @dibs-color-light-grey;
  }
}

//
//  SideBar
//  _____________________________________________
#dibs_easy_checkoutSidebar {
  font-family: @dibs-font-family;
  color: @dibs-color-dark;
  display: block;
  .dibs-white__backdrop;

  .dibs-easy-checkout-cart {
    #dibs-easy-checkout-cart-heading {
      .dibs-heading;

      span {
        &.counter {
          &:before {
            content: "";
            display: inline-block;
            border: 2px solid @dibs-color-black;
            vertical-align: middle;
            padding: 0 4px;
            margin: 0 2px;
          }
        }

        &.dibs-payment-methods__img {

          img {
            vertical-align: bottom;
            float: right;
          }
        }
      }
    }
  }

  #dibs-easy-checkout_cart {
    border-top: @dibs-border;
    display: inline-block;
    width: 100%;
  }

  .load.indicator {
    position: fixed !important;

    &:before {
      background: transparent url("../images/ajax-loader.gif") no-repeat 50% 50%;
    }
  }

  input:not(.qty),
  select,
  textarea {
    border: @dibs-border;
    border-radius: 4px;
  }

  input, select {
    &:not(.qty) {
      height: 50px;
    }

    &[type='checkbox'] {
      .checkbox;
    }

    &[type='radio'] {
      .radio;
      .checkbox;
    }
  }

  h4[role="heading"] {
    .dibs-heading;
    margin-top: 0;

    .total-amount {
      float: right;
    }
  }

  .dibs-easy-checkout-block {
    &.discount {
      #discount-coupon-form {
        .fieldset {
          position: relative;
          display: flex;

          .field {
            flex: 1;
          }

          input {
            border-right: none !important;
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
          }

          .actions-toolbar {
            .action.apply.primary, .action.cancel.primary {
              &, &:hover {
                background: transparent;
                border: @dibs-border;
                color: @dibs-light-blue;
                height: 50px;
                border-left: none !important;
                border-bottom-left-radius: 0 !important;
                border-top-left-radius: 0 !important;
              }
            }
          }
        }
      }
    }

    &.grand-total {
      .total-info {
        color: #888888;
      }
    }
  }

  .slick-slide {
    &:not(.slick-active) {
      position: relative;
      opacity: .7;

      &:after {
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }
}

#dibs-checkout-iframe {
  vertical-align: bottom;
}

.different-checkout-link {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: @dibs-color-white;

  a {
    color: @dibs-light-blue;
  }
}

table {
  &.dibs-easy-checkout-review {
    th {
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 400;
    }

    th, td {
      vertical-align: middle;

      &.qty {
        text-align: center !important;
      }
    }

    td {
      &.qty {
        div.qty {
          display: flex;
        }

        .remove-product {
          display: inline-flex;
          align-items: center;

          span {
            border: @dibs-border;
            border-radius: 50%;
            width: 26px;
            height: 26px;
            text-align: center;
            font-size: 26px;
            cursor: pointer;
            margin-right: 40px;
            display: block;
            line-height: 26px;
            font-weight: 200;
          }
        }

        span.qty {
          display: flex;

          input {
            &:not([disabled]):focus {
              box-shadow: none;
            }

            border-left: 0 !important;
            border-right: 0 !important;
            border: @dibs-border;
            width: 50px;
            height: 40px;
            text-align: center;
          }

          .input-number-increment,
          .input-number-decrement {
            height: 38px;
            width: 35px;
            text-align: center;
            border: @dibs-border;
            cursor: pointer;
          }

          .input-number-increment {
            border-bottom-right-radius: 50%;
            border-top-right-radius: 50%;
            font-size: 20px;
            line-height: 40px;
          }

          .input-number-decrement {
            border-bottom-left-radius: 50%;
            border-top-left-radius: 50%;
            font-size: 28px;
            line-height: initial;
          }
        }
      }

      &.subtotal {
        text-align: right !important;

        .price {
          .dibs-heading;
        }
      }
    }

    .dibs-easy-checkout-col {
      .product-item-info {
        .item-options {
          dl {
            margin-top: 20px;
          }

          dt {
            clear: left;
            float: left;
            margin: 0 10px 5px 0;
            font-weight: 400 !important;

            &:after {
              content: ': ';
            }
          }

          dd {
            display: inline-block;
            float: left;
            margin: 0 0 5px;
          }
        }

        .product-item-name {
          .dibs-heading;
        }
      }
    }

    .col.price {
      .currency {
        padding-left: 3px;

        &:before {
          content: '(';
        }

        &:after {
          content: ')';
        }
      }
    }
  }
}

//
//  Crosssell
//  _____________________________________________
#dibs_easy_checkoutCrosssell {
  .block.dibs-crosssell {
    width: 100%;
    padding: 0;

    .block-title {
      .dibs-heading;
      text-align: center;
      margin-bottom: 0;
      margin-top: 30px;
    }

    .dibs-products-grid {
      .product-items {
        width: 100%;
        margin: 0;

        .product-item {
          display: inline-block;
          text-align: center;
          background: @dibs-color-white;
          border-radius: 4px;
          width: 25%;
          margin: 0 15px;

          img {
            border-radius: 4px;
          }

          .product-item-info {
            width: 100%;
          }

          .product-item-details {
            padding-bottom: 20px;
          }
        }
      }

    }
  }
}

.dibs-easy-checkout-shipping {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: @dibs-border;

  .dibs-easy-checkout-section-content {
    width: 100%;
  }

  #dibs-easy-checkout_shipping_method {
    width: 100%;
    margin: 0;

    .dibs-easy-checkout-radio-row {
      text-align: center;
      background: @dibs-color-white;
      border-radius: 4px;
      margin: 0 34px 0 0;
      padding: 50px 30px;
      border: @dibs-border;
      position: relative;

      &:hover {
        border-color: @dibs-light-blue;
        opacity: 1 !important;
      }

      input[type='radio'] {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
      }

      span > * {
        display: block;
      }

      .price {
        .dibs-heading;
        display: block;
      }

      @media only screen and (max-width: 560px) {
        margin-right: 0;
      }
    }
  }

  .slick-list.draggable {
    margin-top: 10px;
  }

  .slick-dots {
    li {
      margin: 0;

      &.slick-active {
        button {
          border-color: @dibs-light-blue;
          background-color: @dibs-light-blue;
        }
      }
    }

    button {
      display: block;
      width: 7px;
      height: 7px;
      padding: 0;
      border: @dibs-border;
      border-radius: 50%;
      background-color: white;
      text-indent: -9999px;
      box-shadow: none !important;
    }
  }

  #shipping-method-button {
    height: 50px;
    position: relative;
    top: -1px;
    text-transform: none;
    font-size: 18px;
  }
}

button:not(.primary).dibs-primary {
  .dibs-btn;
  height: 40px;
  font-size: 14px;
  padding: 10px 50px;
  text-transform: uppercase;
}

.go-to-container {
  margin-top: 20px;

  .go-to {
    .dibs-btn;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20) !important;
    text-align: center;
    font-size: 18px;
    text-transform: none;
    text-decoration: none;
    padding: 12px 30px;
    width: 174px;
    height: 50px;
  }
}

.shipping-price {
  .dibs-heading;
  float: right;
  text-align: right;
}

//  Totals
//  _____________________________________________
#dibs-easy-checkout_cart_totals {
  text-align: right;
  color: @dibs-color-black;
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  table {
    &.dibs-easy-checkout-review {
      th {
        &.item-img {
          visibility: hidden;
          opacity: 0;
        }
      }

      th, td {
        vertical-align: middle;

        &.qty,
        &.price,
        &.subtotal {
          padding-left: 40px;
          padding-right: 0;
        }

        &.item-img {
          padding-right: 0;
          padding-left: 0;
          width: @calc-width;
          max-width: @calc-width;
        }

        &.item-desc {
          padding-right: 0;
          padding-left: 0;
        }

        &:not(.item-img) {
          border-bottom: @dibs-border;
        }

        &.qty {
          text-align: center !important;
        }
      }

      td {
        padding-top: 30px;
        padding-bottom: 30px;

        &.subtotal {
          text-align: right !important;

          .price {
            .dibs-heading;
          }
        }
      }

      .dibs-easy-checkout-col {
        .product-item-info {
          width: 90%;
        }
      }
    }
  }
  //  Totals
  //  _____________________________________________
  #dibs-easy-checkout_cart_totals {
    .dibs-table-align;
    text-align: right;
    border-bottom: @dibs-border;
    color: @dibs-color-black;
    float: left;

    table {
      width: 35%;
      float: right;

      tfoot {
        tr:last-of-type {
          th, td {
            padding-bottom: 15px;
          }
        }

        td, th {
          padding: 15px 0 0;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }
  //   Shipping
  //  _____________________________________________
  .dibs-easy-checkout-shipping {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: @dibs-border;

    #dibs-easy-checkout_shipping_method {
      margin-top: 20px;
      padding-top: 20px;
      border-top: @dibs-border;

      .slick-track {
        margin-right: 0;
        margin-left: 0;
      }
    }

    input,
    select {
      height: 50px;
      width: 192px;
      margin-bottom: 10px;
    }

    input {
      &.postcode {
        position: relative;
        top: 1px;
        left: -3px;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
      }
    }

    select {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }

  }
  .dibs-easy-checkout-shipping,
  .dibs-easy-checkout-extra {
    .dibs-table-align;
  }
  .dibs-easy-checkout-extra {
    //display: flex;
  }
  .dibs-easy-checkout-extra__left {
    flex: 1;
  }
  .dibs-easy-checkout-extra__right {
    flex: 2;
  }
  .dibs-easy-checkout-block {
    &.discount,
    &.newsletter {
      width: 400px;
    }

    &.grand-total {

    }
  }
  // ----- Success Page
  .dibs_easy_checkout-order-success {
    .page-title {
      .dibs-heading
    }

    .checkout-success {
      h1 {
        font-size: 52px;
      }
    }

    .dibs-easy-checkout-thankyou-order-details.order_details {
      li {
        display: table-cell;
        width: 25%;
      }
    }

    .dibs-easy-checkout-order__items {
      padding: 45px 35px 25px;
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  #dibs_easy_checkoutSidebar {
    padding: 20px 10px;

    .dibs-easy-checkout-block {
      &.discount {
        #discount-coupon-form {
          .fieldset {
            .actions-toolbar {
              right: 0;
            }
          }
        }
      }
    }

    .dibs-easy-checkout-cart {
      #dibs-easy-checkout-cart-heading {
        span.dibs-payment-methods__img {
          width: 100%;
          float: right;
          margin-bottom: 25px;
        }
      }
    }

    table.dibs-easy-checkout-review {
      tbody {
        tr {
          border-bottom: @dibs-border;
          padding-bottom: 20px;
          display: inline-block;
        }
      }

      th {
        padding: 10px 0;
        border-bottom: @dibs-border;

        &.qty,
        &.item-img {
          display: none;
        }

        &.price {
          text-align: right;
          position: absolute;
          right: 25px;
        }
      }

      td {
        display: block;
        float: left;
        padding: 20px 0 10px;

        &.item-img,
        &.item-desc {
          width: 100%;
        }

        &.qty,
        &.subtotal,
        &.price {
          width: 50%;
        }

        &.subtotal {
          .cart-price {
            line-height: 38px;
          }
        }

        &.qty {
          .remove-product {
            span {
              margin-right: 20px;
            }
          }
        }

        &.item-desc {
          .product-item-details {
            .product-item-info {
              width: 100%;
            }
          }
        }

        &.item-img {
          .product-item-image {
            text-align: center;
          }
        }
      }
    }

    .dibs-easy-checkout-shipping {
      .dibs-easy-checkout-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between
      }

      .slick-list.draggable {
        margin-top: 40px;
      }

      select {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }

      input {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-top: 0 !important;
      }

      #shipping-method-button {
        margin: 15px auto;
        width: 100%;
      }

      .slick-dots {
        top: -40px;
        height: 40px;
      }
    }
  }
  #dibs-easy-checkout_cart_totals {
    table {
      tfoot {
        border-bottom: @dibs-border;

        td, th {
          font-weight: 700;
          padding: 10px 0;
        }
      }
    }
  }

  .dibs-easy-checkout-extra__left,
  .dibs-easy-checkout-extra__right {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
  }
  .go-to {
    width: 100% !important;
    float: none;
  }
  // ----- Success Page
  .dibs_easy_checkout-order-success {
    #dibs_easy_checkoutSidebar {
      padding-right: 0;
      padding-left: 0;
    }

    .page-title {
      font-size: 18px;
      font-weight: 600;
      color: #000000;
    }

    .checkout-success {
      h1 {
        font-size: 32px;
      }
    }

    .dibs-easy-checkout-thankyou-order-details.order_details {
      li {
        display: block;
      }
    }

    .dibs-easy-checkout-order__items {
      padding: 20px 10px;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .dibs-easy-checkout-extra {
    display: flex;
  }
  .go-to {
    float: right;
  }
}

// --- Success Page
.dibs_easy_checkout-order-success {

  .columns {
    letter-spacing: 0.5px;
  }

  .dibs-primary {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20) !important;
    text-align: center;
    font-size: 18px;
    text-transform: none;
    text-decoration: none;
    padding: 12px 30px;
    width: 174px;
    height: 50px;
    font-weight: 600;
  }

  .checkout-success {
    h1 {
      color: @dibs-color-black;
      text-align: center;
      font-weight: 600;
    }
  }

  #dibs_easy_checkoutSidebar {
    max-width: 1040px;
    margin: 0 auto;
  }

  .dibs-easy-checkout-thankyou-order-details.order_details {
    list-style: none;
    display: table;
    width: 100%;
    margin: 15px 0 30px;
    padding: 15px 0 0;
    font-size: 18px;
    border-top: 6px solid @dibs-light-blue;

    li {
      float: none;
      margin-bottom: 0;
      text-align: left;
      font-weight: 300;

      strong {
        width: 100%;
        display: block;
      }
    }
  }

  .dibs-easy-checkout-order__items {
    margin: 70px 0;
    border: 3px solid @dibs-light-blue;
    position: relative;

    strong {
      .dibs-heading;
    }

    table {

      tbody {
        border-top: 1px solid rgba(0, 0, 0, .05);
      }

      th, td {
        font-size: 16px;
        padding: 15px 0;
      }

      th {
        text-transform: uppercase;
        font-weight: 600;
      }

      td {
        &.col-item {
          font-weight: 600;
        }

        &.col-amount {
          font-weight: 300;
        }
      }
    }
  }
}

// --- Unifaun related CSS

#nwt_unifaun_form {
  label {
    font-weight: 600;
  }
  .nwt_unifaun_form_agent {
    label[for^="nwt_unifaun_form_agent_select_custom"]:first-child {
      width: 100%;
      margin-bottom: 0;
    }
    label[for="nwt_unifaun_postcode"] {
      display: inline-block;
      width: 100%;
    }
    .nwt_unifaun_postcode,
    .nwt_unifaun_select_agent {
      height: 35px;
    }
    .nwt_unifaun_postcode {
      @media only screen and (max-width: 560px) {
        width: 40% !important;
      }
    }
    .nwt_unifaun_select_agent {
      margin-bottom: 0;
    }
    button.nwtunifaun-choose-agent {
      .dibs-btn;
      height: 35px;
      font-size: 14px;
      margin-bottom: 5px;
      margin-left: 15px;
      @media only screen and (max-width: 1000px) {
        margin-left: 0 !important;
        width: 100% !important;
      }
      @media only screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }
  }
  #nwt_unifaun_form_cellphone {
    #nwt_unifaun_cellphone {
      height: 35px;
    }
  }
  @media only screen and (max-width: 767px) {
    input[type="text"] {
      border-top: 1px solid #d1d1d1 !important;
      border-radius: 4px !important;
    }
  }
}
