<?php
    $products = $this->getProducts();
?>
<?php foreach($products as $product): ?>
<div class="product">
    <div class="product-image">
        <a href="<?php echo $this->getProductUrl($product); ?>">
            <img src="<?php echo $this->getProductImage($product); ?>" alt="">
        </a>
    </div>
    <div class="pricebox">
        <?php echo $this->getProductPrice($product);?>
    </div>
    <strong class="product-name"><a href="<?php echo $this->getProductUrl($product); ?>"> <?php echo $product->getName(); ?> </a></strong>
</div>
<?php endforeach; ?>