<?php
/*
 * The MIT License
 *
 * Copyright 2016 vConnect.dk
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * @category Magento
 * @package Vconnect_AllInOne
 * @author vConnect
 * @email kontakt@vconnect.dk
 * @template app/design/frontend/base/default/template/vconnect/embedded/pickup/tabHeader.phtml
 */

$allinone_data = $this->getData('allinone_data');
$allinone_config = $this->getData('allinone_config');
$dataHelper = $this->getDataHelper();

$googleMapsActive = $dataHelper->getStoreConfigFlag('carriers/vconnectpostnord/google_maps_active');
?>

<li data-aino="mini-map" data-code="<?php echo $allinone_data['code'] ?>">
    <label class="shipping-method-label aino-collapse-trigger aino-input aino-checkbox">
        <?php echo $allinone_data['method_title'] ?>
        <input type="radio" name="delivery-option" value="test-<?php echo $allinone_data['code'] ?>" class="tinyCheck-done" />
        <span>
            <?php if(!empty($allinone_config['delivery_time'])): ?>
                <span class="aino-delivery-days"><?php echo $allinone_config['delivery_time'] ?></span>
            <?php endif;?>
            <span class="aino-delivery-price"><?php echo $allinone_data['price_formated_withoutcontainer'] ?></span>
            <?php if(!empty($allinone_config['method_description'])): ?>
                <span><?php echo $allinone_config['method_description'] ?></span>
            <?php endif;?>
        </span>
        <span class="aino-indicator"></span>
        <span class="carrier-logo">
            <span class="aino-postnord-logo"></span>
        </span>
    </label>

    <?php if ($googleMapsActive): ?>
    <div class="aino-collapse">
        <div><b><?php echo __('The package is delivered to:'); ?></b></div>

        <div class="aino-card cf">
            <div class="aino-card-top">
                <div class="aino-mini-map method_pickupinshop"></div>
            </div>
            <div class="aino-card-body cf">
                <div class="aino-media aino-chosen-destination">
                    <div class="aino-media-left">
                        <span class="aino-marker"></span>
                    </div>

                    <div class="aino-media-body aino-user-choicen-destination">
                        <div class="aino-media-heading aino-destination-name-pickupinshop">
                            
                        </div>

                        <div class="aino-destination-info-pickupinshop">
                            
                        </div>

                        <button class="aino-button green" onclick="aino.map_pickupinshop()"><?php echo __('Change post office'); ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php else: ?>
    <div class="aino-collapse cf method_pickupinshop">
        <div class="aino-location-list">
            <ul class="aino-nav"></ul>
        </div>
        <div class="aino-loadmore-locations">
            <button onclick="aino.loadMoreLocations_pickupinshop(this)"><?php echo __('Show more post offices'); ?></button>
        </div>
    </div>
    <?php endif; ?>
</li>