<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_GeoIPAutoSwitchStore
 * @author     Extension Team
 * @copyright  Copyright (c) 2016-2017 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<script type="text/x-magento-init">
    {
        "*": {
            "Bss_GeoIPAutoSwitchStore/js/test_now": {
        	}
        }
    }
</script>
<?php echo $block->getButtonHtml() ?>
</td></tr>
<tr id="row_bss_geoip_general_test_now" style=""><td class="label">
<td class="value">
	<input id="bss_geoip_general_get_url" name="groups[general][fields][get_url][value]" data-ui-id="text-groups-general-fields-get-url-value" value="" class="input-text admin__control-text" type="text">
	<p class="note"><span id= "bss_geoip_general_comment"><?php  echo __('Open the URL in an incognito tab to test with the IP Test');?></p>
</td>
