.layout_1,
.layout_2,
.layout_5 {
  .block-newsletter {
    padding: 30px 0 40px;
    margin-bottom: 94px;
    .content {
      @include make-col();
      width: 100%;
    }
    .heading-4 strong {
      font-weight: 600;
    }
    .title {
      @include make-col();
      font-size: 35px;
      line-height: 1;
      color: $white;
      margin-bottom: 30px;
      strong {
        font-weight: 600;
        display: block;
        margin-bottom: 20px;
      }
      span {
        display: block;
        font-size: $default-font-size;
      }
    }
    .control {
      &:before {
        font-family: $linearicons-icon;
        content: "\e696";
        font-size: 22px;
        position: absolute;
        left: 15px;
        top: 11px;
        color: #fff;
      }
    }
    #newsletter {
      border: 1px solid #fff;
      background: none;
      font-size: $font-ultra-small;
      color: #fff;
      padding-left: 50px;
      padding-top: 8px;
      &::-webkit-input-placeholder {
        color: #fff;
      }
      &.mage-error {
        border-color: rgba(255, 0, 0, 0.3);
      }
    }
    .newsletter {
      position: relative;
      padding-right: 128px;
      margin-bottom: 0;
    }
    .check_privacy_field {
      color: #fff;
    }
    .primary.subscribe {
      border: 2px solid $white;
      padding: 0 5px;
      line-height: 46px;
      min-width: 118px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
    }
    #newsletter-error {
      position: absolute;
    }

    @media (min-width: $screen-sm-min) {
      margin-top: -100px;
      padding: 90px 0 98px;
      .row {
        @include align-items(center);
      }
    }
    @media (min-width: $screen-md-min) {
      .content {
        @include flex-basis(50%);
      }
      .title {
        @include flex-basis(50%);
        margin-bottom: 0;
      }
    }
    @media (min-width: $screen-lg-min) {
      .content {
        @include flex-basis(42%);
      }
      .title {
        @include flex-basis(58%);
        margin-bottom: 0;
      }
    }
    @media (min-width: $screen-md-min) and  (max-width: $screen-lg-min - 1) {
      .title {
        font-size: 24px;
      }
    }

    @media (max-width: $screen-xs-min - 1) {
      .newsletter {
        padding-right: 0;
      }
      .primary.subscribe {
        position: relative;
        margin-top: 10px;
        width: 100%;
      }
    }
    @media (max-width: $screen-sm-min - 1) {
      margin-bottom: 40px;
      .title {
        font-size: 20px;
        text-align: center;
        span {
          font-size: 13px;
          line-height: 21px;
        }
      }
    }

  }

  .block-googlemap + .block-newsletter {
    @media (min-width: $screen-sm-min) {
      margin-top: 0;
    }
  }
}
.layout_5 {
  .block-newsletter {
    .primary.subscribe {
      background: none;
    }
    #newsletter {
      background: #fff;
      &::-webkit-input-placeholder {
        color: inherit;
      }
    }
  }
}
.layout_3 {
  .block-newsletter {
    padding: 30px 0 40px;
    margin-bottom: 94px;

    @media (min-width: $screen-sm-min) {
      border-bottom: 1px solid $theme-line-1;
    }
    .content {
      @include make-col();
      .form.subscribe {
        display: block;
        max-width: 546px;
        margin: 0 auto;
      }
    }
    .heading-4 strong {
      font-weight: 600;
    }
    .title {
      @include make-col();
      font-size: 35px;
      line-height: 1;
      margin-bottom: 45px;
      @media (min-width: $screen-sm-min) {
        text-align: center;
      }
      strong {
        font-weight: 600;
        display: block;
        margin-bottom: 20px;
      }
      span {
        display: block;
        font-size: $default-font-size;
      }
    }
    .control {
      &:before {
        font-family: $linearicons-icon;
        content: "\e71e";
        font-size: 22px;
        position: absolute;
        left: 22px;
        top: 12px;
      }
    }
    #newsletter {
      font-size: $font-ultra-small;
      padding-left: 54px;
      padding-top: 8px;
      &::-webkit-input-placeholder {
      }
      &.mage-error {
        border-color: rgba(255, 0, 0, 0.3);
      }
    }
    .newsletter {
      position: relative;
      padding-right: 128px;
      margin-bottom: 0;
    }
    .primary.subscribe {
      padding: 4px 5px 0;
      line-height: 41px;
      min-width: 118px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      border: 2px solid;
      background: none;
      text-transform: uppercase;
      font-weight: 500;
      &:hover {
        color: #fff;
      }
    }
    #newsletter-error {
      position: absolute;
    }

    @media (min-width: $screen-sm-min) {
      margin-top: -100px;
      padding: 90px 0 98px;
      .row {
        @include align-items(center);
      }
      .content {
        @include flex-basis(100%);
      }
      .title {
        @include flex-basis(100%);
      }
    }
    @media (max-width: $screen-xs-min - 1) {
      .newsletter {
        padding-right: 0;
      }
      .primary.subscribe {
        position: relative;
        margin-top: 10px;
        width: 100%;
      }
    }
    @media (max-width: $screen-sm-min - 1) {
      margin-bottom: 40px;
      .title {
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
        span {
          font-size: 13px;
          line-height: 20px;
        }
      }
    }

  }
}
.cms-index-index {
  .layout_3 {
    .block-newsletter {
      //padding-top: 0;
    }
  }
}
//.grid-left.layout_3 {
//  .block-newsletter {
//    display: none !important;
//  }
//}



.block-newsletter.block {
  background: #f8f8fa;
  padding: 20px 30px;
  border: 0;
  .block-title {
    margin-bottom: 4px;
    strong {
      font-size: 20px;
      line-height: 29px;
      font-weight: 400;
    }
  }
  .slog-newsletter {
    display: block;
    margin-bottom: 18px;
  }
  #newsletter {
    background: #fff;
    border: 1px solid $theme-line-1;
  }
  .control {
    margin-bottom: 10px;
  }
  .primary {
    @include button-block;
    @include button-block__primary;
    width: 100%;
    text-align: center;
  }
  .field {
    margin: 0;
  }
  @media (min-width: $screen-sm-min ) and (max-width: $screen-md-min - 1) {
    padding: 10px 12px;
    .block-title strong {
      font-size: 16px;
      line-height: 22px;
    }
  }
}