<script>
var allinone_find_form_element_id = '<?php echo $this->getData('form_element_id'); ?>';

require([
    'jquery'
], function(
    jQuery
) {
    jQuery(document).ready(function () {
        if (jQuery( "input[value^=vconnectpostnord_]" ).length > 0) {
            renderVconnectAllinoneHtml();
        }

        var proxiedAio = XMLHttpRequest.prototype.open;
        XMLHttpRequest.prototype.open = function(method, url, async, user, password) {
            var xhr = this;

            if (url.indexOf('estimate-shipping-methods') !== -1 || url.indexOf('Magetop_Osc/template/container/shipping.html') !== -1 || url.indexOf('nwtkco/order/SaveShippingMethod/') !== -1) {
                this.addEventListener("readystatechange", function() {
                    console.log('shipping step modified - aio trigger html update');
                    if (xhr.readyState == 4) {
                        setTimeout(function(){
                            if (jQuery( "input[value^=vconnectpostnord_]" ).length > 0) {
                                renderVconnectAllinoneHtml();
                            }
                        }, 500);
                    }
                }, false);
            }

            proxiedAio.apply(this, Array.prototype.slice.call(arguments));
        }

        var xhr_vconnect_allinone_html;

        function renderVconnectAllinoneHtml() {
            if (xhr_vconnect_allinone_html && xhr_vconnect_allinone_html.readyState != 4) {
                return;
            }

            before_ajax_aio_inputs = jQuery(allinone_find_form_element_id + ' input[type=radio][value^="vconnectpostnord_"]');
            before_ajax_aio_inputs.closest('tr').hide();

            xhr_vconnect_allinone_html = jQuery.ajax({
                url: "<?php echo $this->getPostnordHtmlUrl() ?>",
                type: 'POST',
                dataType: 'html',
                global: false,
                showLoader: true,
                success: function(html) {
                    if (jQuery(allinone_find_form_element_id + ' #vconnect_allinone_form').length > 0) {
                        jQuery('#vconnect_allinone_form').html(html);
                    } else if (jQuery(allinone_find_form_element_id).length > 0) {
                        jQuery(allinone_find_form_element_id).append('<div id="vconnect_allinone_form">' + html + '</div>');
                    } else {
                        jQuery('body').append('<div style="display: none;" id="vconnect_allinone_form">' + html + '</div>');
                    }
                }
            });
        }
    });
});
</script>