#carriers_vconnectpostnord table.form-list .label,
fieldset[id^=carriers_vconnect_postnord] table.form-list .label {
    width: 15%;
}

#carriers_vconnectpostnord table.form-list .value,
fieldset[id^=carriers_vconnect_postnord] table.form-list .value {
    width: 85%;
}