#checkout-payment-method-load label.label[for*="klarna"] span div, #checkout-payment-method-load label.label[for*="klarna"] span span {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}
@media only screen and (min-width: 800px) {
.level-top.bg-wrap-custom+.rd-navbar-megamenu:before {
        content: "";
        position: absolute;
        right: 1px;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url('../images/test-img.jpg');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
       
		
    }
}
.menu-block-3 {
    padding-top: 30px;
    margin: 0 -5px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	}
    
div#switcher-currency-trigger {
    display: none;
}
.rewardssocial-buttons{
 display: none;
}
.product-social-links{
	 display: none;
}
button.checkout:hover{
	background-color: rgb(124,101,54)!important;
        border-color: rgb(124,101,54)!important;
    
}
.tocart:hover{
	background-color: rgb(124,101,54)!important;
        border-color: rgb(124,101,54)!important;
    
}
.slider-input> a:hover{
	background-color: rgb(124,101,54)!important;
        border-color: rgb(124,101,54)!important;
}
.price{
	color:rgb(83,107,115)!important;
}
.tocart{
	background-color: rgb(83,107,115)!important;
    border-color: rgb(83,107,115)!important;
}
button.checkout{
	background-color: rgb(83,107,115)!important;
    border-color: rgb(83,107,115)!important;
}
.ui-slider-range {
	background-color: rgb(83,107,115)!important;
    border-color: rgb(83,107,115)!important;
}
.slider-input> a{
	background-color: rgb(83,107,115)!important;
    border-color: rgb(83,107,115)!important;
}
.filter-options-title, .block-title,  .page-title, .panel-container-wrap, .welcome, .level-top, .breadcrumbs, .items {
color: rgb(92,92,97)!important;
}
.level-top:hover{
	color:rgb(83,107,115)!important;
}
@media only screen and (min-width: 800px) {
.page-header__content {
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 250) 27%, rgb(147, 153, 158) 300%);
}
}

.hidden{
	 display: none;
}
.hiddens {
  display: none;
}

@media only screen and (min-width: 992px) {
.toggle-button {
border: 2px solid #a0a0a0;
    padding: 10px 5px 10px 5px;
    margin-top: 40px;
}
	

.togg-button {
border: 2px solid #a0a0a0;
    padding: 10px 5px 10px 5px;
    margin-top: 40px;
}

}
@media only screen and (min-width:320px) and (max-width: 992px){
.product-reviews-summary{
	display:none;
	
}}
.togg-button > a {
font-weight: bold;
}
.toggle-button> a {
font-weight: bold;
}
.opc-estimated-wrapper{
	display:none;
}

.opc-sidebar .modal-inner-wrap {
    border: 3px solid #eae9e9;
    margin-top: 5%;
}

.edit{
	color:black!important;
}
.viewcart{
	color:black!important;
}
.opc-block-summary span.title {
    font-size: 24px!important;
}
.content a.logo{
	display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
	
}

.toggle-button{
	cursor:pointer;
}
.togg-button{
	cursor:pointer;
}

#CybotCookiebotDialogDetailFooter { 
display: none!important;
 }
 
.swatch-option{
	padding: 0px 8px 0px 8px!important;
	margin-right: 7px!important;
	margin-left: 2px!important;
}
.pac-target-input {
	min-height: 30px!important;
	} 
.mp-storelocator-list-location 
{
	height: 85%!important;
	} 
.bh-sl-user-location{
	width: 90%!important;
	}
/* Hide billing address */
.checkout-billing-address, .billing-address-same-as-shipping-block.field.choice {
    display: none !important;
}

/* centered category page title */
.catalog-category-view.page-layout-1column .col-sm-9.grid-main.layout_4 {
    width: 100%;
    max-width: 100%;
    flex-basis: unset;
}
.catalog-category-view.page-layout-1column h1#page-title-heading {
    display:none;
}
#page-preloader {
 display:none;
}
.legend{
 display: none;
}

.logo{
 width:150px!important;
}
.checkout-shipping-method .step-title{display:none}
#checkout-shipping-method-load{display:none}
.mp_storelocator_description {
    top: 51%!important;
}
.create-an-account{
display:none;
}
.my-account{
display:none;
}
#product_description{
padding-bottom: 25px;
}
.block-title{
 padding-bottom: 20px;
}
.newsletter-popup-link{
display:none!important;
}
.rd-navbar-search .form-group input {
    margin-top: 5%;
}
@media (min-width: 1354px) {
    .page-layout-1column-fullwidth #maincontent .container {
        max-width: 100%;
        padding: 0;
        margin: 0
    }
}
.mp_storelocator_head h1 {
	display: flex;
	justify-content: center;
}
