//
//  Generic Grid/List Item
//  ---------------------------------------------


.price-including-tax + .price-excluding-tax::before,
.weee[data-label]::before {
  content: attr(data-label) ': ';
  font-size: 13px;
}
.price-including-tax {
  display: block;
}
.swatch-input {
  left: -10000px;
  position: absolute;
  visibility: hidden;
}
.products .product-item {

  //Details
  .product-item-name {
    display: block;
  }

  //Reviews
  .rating-summary {
    display: inline-block;
    .label {
      display: none;
    }
  }
  .reviews-actions {
    display: inline-block;
    padding-left: 5px;
    .view {
      font-size: $font-ultra-small;
      line-height: normal;
      display: inline-block;
      padding-top: 3px;
    }
  }

  //Swatches

  .swatch-attribute-options {
    margin-top: 5px;
  }

  //Price
  .price {
    font-size: 24px;
  }
  .old-price {
    .price {
      font-size: 16px;
    }
  }
  .price-box {
    > span {
      display: inline-block;
      margin-right: 15px;
    }
  }

  //Actions
  .product-item-actions {
  }
  .actions-primary {
    .primary {
      span:before {
        font-family: $linearicons-icon;
        content: "\e74d";
        font-size: 161%;
        padding-right: 10px;
        line-height: 0;
        vertical-align: sub;
        font-weight:normal;
      }
    }

  }

  .actions-secondary {
    .action {
      border: 0;
      background: none;
      padding: 0;
      font-size: 22px;
      &:first-child {
        margin-right: 28px;
      }
    }
  }

  .smart-labels .main-labels {
    max-width: 80px;
    margin: -13px;
    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min - 1) {
      max-width: 50px;
      margin: -8px;
    }
  }
}
.product-item-info-hide {
  opacity: 0.5;
  position: relative;
}
.smart-label {
  z-index:2 !important;

}

.smart-labels .label-text {
  font-size: 12px;
  line-height: 19px;
  padding: 2px 8px 0;
  text-transform: capitalize;
  color: #fff;
}

.tm-switch-image-container {
  position: relative;
  overflow: hidden;

  .replaced {
    display:none;
    position:absolute;
    top: 0;
    left: 0;
    &.switch-video {
      top: 50%;
      transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
    }
  }
}
.product-image-container.gallery-placeholder {
  display: block !important;
}
.listing-gallery {
  .fotorama__arr,
  .fotorama__thumb__arr {
    background: none;
  }

  .fotorama__arr {
    width:40px;
    top: 50%;
    bottom: auto;
    .fotorama__arr__arr {
      background-image: none;
      background-color: #32cfb0;
      width:40px;
      height: 40px;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }

  .fotorama__arr--prev .fotorama__arr__arr:before,
  .fotorama__arr--next .fotorama__arr__arr:before{
    font-family: $linearicons-icon;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
    position: absolute;
    font-size: 18px;
    color: #fff;
  }

  .fotorama__arr--prev .fotorama__arr__arr:before{
    content: "\e93b";
  }
  .fotorama__arr--next .fotorama__arr__arr:before{
    content: '\e93c' ;
  }
  .fotorama-item .fotorama__stage {
    margin-bottom: 0;
  }
  .fotorama__stage__frame .fotorama__img {
    width: 100%;
  }
}

.product-item-info:hover {
  .quick-view-button {
    transform: scale(1,1);
  }
}
.quick-view-button {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  font-size: 13px;
  padding: 4px 18px;
  transform: scale(0,0);
  transition: all 0.3s ease;
  &.icon-text {
    padding: 10px;
    font-size: 21px;
    &:before {
      font-family: $linearicons-icon;
      content: "\e922";
    }
    span {
      display: none;
    }
  }

  @media (max-width: $screen-md-min - 1)  {
    display: none;
  }
}
.modal-popup.quick-view._show {
  pointer-events: none;
}

.map-popup {
  background: #ffffff;
  border: 1px solid #adadad;
  padding: 22px;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s linear;
  left: 0;
  margin-top: 10px;
  position: absolute;
  top: 0;
  z-index: 1001;
  display: none;
  opacity: 0;
}
.map-popup.active {
  opacity: 1;
}

.ui-dialog.popup .action.close {
  position: absolute;
  height: 40px;
  right: 0;
  top: 10px;
  width: 40px;
  z-index: 1001;
  display: inline-block;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.ui-dialog.popup {
  width: 420px;
  @media (max-width: $screen-md-min - 1)  {
    width: 320px;
  }
}
#map-popup-click-for-price + .ui-widget-content .close span {
  display: none;
}
#map-popup-click-for-price + .ui-widget-content .close:before{
  font-family: "Linearicons";
  content: "\e935";
  font-size: 12px;
}
.map-popup {
  .price-box {
    margin-bottom: 5px;
  }
  .action.primary {
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .price-wrapper {
    color: #333;
  }
}