.row-mp {
    min-height: 1px;
    margin: 0 -10px;
}

.col-mp {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    float: left;
    padding: 0 10px;
}

/*All*/
.mp-1 {
    width: 8.33333333333%;
}

.mp-2 {
    width: 16.6666666667%;
}

.mp-3 {
    width: 25.0%;
}

.mp-4 {
    width: 33.3333333333%;
}

.mp-5 {
    width: 41.6666666667%;
}

.mp-6 {
    width: 50.0%;
}

.mp-7 {
    width: 58.3333333333%;
}

.mp-8 {
    width: 66.6666666667%;
}

.mp-9 {
    width: 75.0%;
}

.mp-10 {
    width: 83.3333333333%;
}

.mp-11 {
    width: 91.6666666667%;
}

.mp-12 {
    margin-left: 0;
    width: 100%;
}

.a-center {
    text-align: center;
}

.mp-clear {
    clear: both
}

@media (min-width: 1200px) {
    .mp-lg-1 {
        width: 8.33333333333%;
    }

    .mp-lg-2 {
        width: 16.6666666667%;
    }

    .mp-lg-3 {
        width: 25.0%;
    }

    .mp-lg-4 {
        width: 33.3333333333%;
    }

    .mp-lg-5 {
        width: 41.6666666667%;
    }

    .mp-lg-6 {
        width: 51.0%;
    }

    .mp-lg-7 {
       margin-top: 20px;
       margin-left: 20px;
       width: 95.3333333333%;
    }

    .mp-lg-8 {
        width: 66.6666666667%;
    }

    .mp-lg-9 {
        width: 75.0%;
    }

    .mp-lg-10 {
        width: 83.3333333333%;
    }

    .mp-lg-11 {
        width: 91.6666666667%;
    }

    .mp-lg-12 {
        
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .mp-md-1 {
        width: 8.33333333333%;
    }

    .mp-md-2 {
        width: 16.6666666667%;
    }

    .mp-md-3 {
        width: 25.0%;
    }

    .mp-md-4 {
        width: 33.3333333333%;
    }

    .mp-md-5 {
        width: 41.6666666667%;
    }

    .mp-md-6 {
        width: 50.0%;
    }

    .mp-md-7 {
        width: 58.3333333333%;
    }

    .mp-md-8 {
        width: 66.6666666667%;
    }

    .mp-md-9 {
        width: 75.0%;
    }

    .mp-md-10 {
        width: 83.3333333333%;
    }

    .mp-md-11 {
        width: 91.6666666667%;
    }

    .mp-md-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mp-sm-1 {
        width: 8.33333333333%;
    }

    .mp-sm-2 {
        width: 16.6666666667%;
    }

    .mp-sm-3 {
        width: 25.0%;
    }

    .mp-sm-4 {
        width: 33.3333333333%;
    }

    .mp-sm-5 {
        width: 41.6666666667%;
    }

    .mp-sm-6 {
        width: 50.0%;
    }

    .mp-sm-7 {
        width: 58.3333333333%;
    }

    .mp-sm-8 {
        width: 66.6666666667%;
    }

    .mp-sm-9 {
        width: 75.0%;
    }

    .mp-sm-10 {
        width: 83.3333333333%;
    }

    .mp-sm-11 {
        width: 91.6666666667%;
    }

    .mp-sm-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .mp-xs-1 {
        width: 8.33333333333%;
    }

    .mp-xs-2 {
        width: 16.6666666667%;
    }

    .mp-xs-3 {
        width: 25.0%;
    }

    .mp-xs-4 {
        width: 33.3333333333%;
    }

    .mp-xs-5 {
        width: 41.6666666667%;
    }

    .mp-xs-6 {
        width: 50.0%;
    }

    .mp-xs-7 {
        width: 58.3333333333%;
    }

    .mp-xs-8 {
        width: 66.6666666667%;
    }

    .mp-xs-9 {
        width: 75.0%;
    }

    .mp-xs-10 {
        width: 83.3333333333%;
    }

    .mp-xs-11 {
        width: 91.6666666667%;
    }

    .mp-xs-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .col-mp {
        width: 100%;
    }
}

