<div class="product-brand" style="display: none;">
    <% if (data.showName) { %>
    <h4 class="product-brand-name">
        <a href="<%- data.brand.url %>">
            <span><%- data.brand.name %></span>
        </a>
    </h4>
    <% } %>

    <% if (data.showLogo && data.brand.image) { %>
    <div class="product-brand-logo">
        <a href="<%- data.brand.url %>">
            <img src="<%- data.brand.image %>" alt="" />
        </a>
    </div>
    <% } %>
</div>
