<div class="rd-navbar-panel-canvas"></div>
<script>
    require([
        'jquery'
    ], function ($) {
        $('.tm-megamenu .price-box').removeClass('price-box');
    });
</script>
<?php if ($this->getNameInLayout() == 'catalog.topnav' && (!$this->_helper->isVertical())): ?>
    <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
    <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

    <nav class="navigation" role="navigation">
        <!-- RD Navbar Toggle -->
        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
            <span>
                <strong><?php /* @escapeNotVerified */
                    echo __('Categories') ?> </strong>
            </span>
        </button>
        <!-- END RD Navbar Toggle -->
        <div class="rd-navbar-nav-wrap">
            <ul class="rd-navbar-nav">
                <?php echo $_menu; ?>
            </ul>
            <?php echo $block->getChildHtml('header2'); ?>
        </div>
    </nav>

<?php elseif ($this->getNameInLayout() == 'catalog.sidebarnav' && $this->_helper->isVertical()): ?>
    <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
    <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

    <!-- Sidebar Nav -->
    <nav class="navigation">
        <!-- RD Navbar Toggle -->
        <ul data-mage-init='{"megamenu":{"menus": "li > ul:not(.mm-submenu), .megamenu-wrapper", "responsive":true, "expanded":true, "position":{"my":"left top","at":"right top"}}}'>
            <?php echo $_menu; ?>
        </ul>
    </nav>

<?php endif; ?>
