<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<li class="item link compare" data-bind="scope: 'compareProducts'" data-role="compare-products-link">
    <a class="action compare " title="<?= /* @escapeNotVerified */ __('Compare') ?>"
       data-bind="attr: {'href': compareProducts().listUrl}, css: {'no-display': !compareProducts().count}"
    >
        <?= /* @escapeNotVerified */ __('Compare') ?>
        <span class="counter qty" data-bind="text: compareProducts().countCaption"></span>
    </a>
    <!-- ko if: !compareProducts().count -->
        <style>
            .item.link.compare { display: none;}
        </style>
    <!-- /ko -->
</li>


<script type="text/x-magento-init">
{"[data-role=compare-products-link]": {"Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>}}
</script>
