<?php
/*
 * The MIT License
 *
 * Copyright 2016 vConnect.dk
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * @category Magento
 * @package Vconnect_AllInOne
 * @author vConnect
 * @email kontakt@vconnect.dk
 * @template app/design/frontend/base/default/template/vconnect/embedded/mailbox/tabHeader.phtml
 */
 
$allinone_data = $this->getData('allinone_data');
$vc_method_data = !empty($allinone_data['vc_method_data']) ? json_decode($allinone_data['vc_method_data'], true) : array();
$allinone_config = $this->getData('allinone_config');
$dataHelper = $this->getDataHelper();
$quote = $this->getBlockQuote();
$additional_fee = $dataHelper->getAdditionalFeeData($allinone_config['system_path']);
?>

<li data-code="<?php echo $allinone_data['code'] ?>">
    <label class="shipping-method-label aino-collapse-trigger aino-input aino-checkbox">
        <?php echo $allinone_data['method_title'] ?>
        <input type="radio" name="delivery-option" value="test-<?php echo $allinone_data['code'] ?>" class="tinyCheck-done" />
        <span>
            <?php if(!empty($allinone_config['delivery_time'])): ?>
                <span class="aino-delivery-days"><?php echo $allinone_config['delivery_time'] ?></span>
            <?php endif;?>
            <span class="aino-delivery-price"><?php echo  $allinone_data['price_formated_withoutcontainer'] ?></span>
            <?php if ($dataHelper->getStoreConfigFlag('carriers/vconnectpostnord/norwegian_api_validation') && $dataHelper->getStoreConfig('shipping/origin/country_id') == 'NO' && !empty($vc_method_data['postnord_method']) && !empty($vc_method_data['postnord_method']['price']) && isset($vc_method_data['postnord_method']['price']['priceBreakdown']['netAmount']['value'])): ?>
            <span class="aino-original-price">(API PRICE: <?php echo $vc_method_data['postnord_method']['price']['priceBreakdown']['netAmount']['value']; ?>)</span>
            <?php endif; ?>
            <?php if(!empty($allinone_config['method_description'])): ?>
                <span><?php echo $allinone_config['method_description'] ?></span>
            <?php endif;?>
        </span>
        <span class="aino-indicator"></span>
        <span class="carrier-logo">
            <span class="aino-postnord-logo"></span>
        </span>
    </label>

    <div class="aino-collapse">
        <?php if ($dataHelper->getStoreConfig('shipping/origin/country_id') == 'NO'): ?>
        <div>
            <b><?php echo __('Sendes innen'); ?></b>
        </div>

        <div class="aino-text-light"><?php echo __('Standard levering (2-4 dager)'); ?></div>

        <div class="aino-media aino-text-light">
            <div class="aino-media-left">
                <span class="aino-exclamation-sign"></span>
            </div>
            <div class="aino-media-body">
                <?php echo __('Pakken leveres samme sted som din lokalavis, enten i postkassen eller på dørmatten.'); ?>
            </div>
        </div>
        <?php else: ?>
        <div>
            <b><?php echo __('Choose how fast the package will be delivered:'); ?></b>
        </div>

        <ul class="aino-nav aino-tabs cf">
            <?php $i = 0; ?>
            <?php foreach ($allinone_config['arrival'] as $value => $label) : ?>
                <li class="<?php echo ($i == 0) ? 'aino-active' : '' ?>">
                    <label class="aino-collapse-trigger aino-input aino-button aino-active" data-aino-control="<?php echo $allinone_data['code'] ?>_arrival_code" data-aino-price="<?php echo $allinone_data['price_formated_withoutcontainer'] ?>">
                        <?php echo __($label) ?>
                        <input class="aino-button tinyCheck-done" type="radio" name="arrival" value="<?php echo $value ?>">
                    </label>
                </li>
                <?php $i++; ?>
            <?php endforeach; ?>
            <?php if ($additional_fee): ?>
                <li class="">
                    <label class="aino-collapse-trigger aino-input aino-button aino-active" data-aino-control="<?php echo $allinone_data['code'] ?>_arrival_code" data-aino-price="<?php echo $dataHelper->getPriceFormated($quote, $allinone_data['base_amount'] + $additional_fee['price_base'], true, false) ?>" data-additional-fee="<?php echo $additional_fee['price_base']; ?>" data-additional-label="<?php echo $additional_fee['label']; ?>">
                        <?php echo $additional_fee['label_with_price'] ?>
                        <input class="aino-button tinyCheck-done" type="radio" name="arrival" value="<?php echo $additional_fee['label_with_price'] ?>">
                    </label>
                </li>
            <?php endif; ?>
        </ul>

        <div class="aino-mailbox-nearest-title"><b><?php echo __('Om paketet inte får plats i postlådan kommer det att levereras till:'); ?></b></div>
        <div class="aino-media aino-chosen-destination aino-mailbox-nearest-description">
            <div class="aino-media-left">
                <span class="aino-marker"></span>
            </div>

            <div class="aino-media-body aino-user-choicen-destination">
                <div class="aino-media-heading aino-destination-name-mailbox">
                    
                </div>

                <div class="aino-destination-info-mailbox">
                    
                </div>
            </div>
            <div style="display:none;" data-aino-target="<?php echo $allinone_data['code'] ?>_arrival_code">
                <input style="display:none;" type="radio" name="delivery" value="<?php echo __('Nearest pickuplocation') ?>" checked class="tinyCheck-done" />
            </div>
        </div>
        <?php endif; ?>
    </div>
</li>