{{#location}}
<li data-markerid="{{markerid}}" class="mpstorelocator-location-{{id}} mp store-view store-view-{{id}}" data-id="{{id}}" data-url-key="{{url}}">
    <div class="mp-store-view-info">
        <div class="mp-row-store-img" id="store-image-gallery">
            <img class="responsive-img" src="{{image}}" alt="{{image}}"/>
        </div>
        <div class="row-store-info">
            <div class="mp-store-name">
                <span>{{name}}</span>
            </div>
            <div class="store-addr">
					<span class="mp-main-addr">
						{{street}} {{state}}, {{city}}  {{country}}
					</span><br>
                <div class="loc-web">
                    <span id="store-time-open" class="store-time-open">{{time}}</span>
                    <span id="store-view-phone">{{phone1}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mp-detail-store-view">
			<span class="link-detail">{{details}}</span>
    </div>
</li>
{{/location}}
