<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); 
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
                    <div class="control">
                        <input type="number"
                               name="qty"
                               id="qty"
                               value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                               title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                               class="input-text qty"
                               data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                        />
                    </div>
                </div>
            <?php endif; ?>

            <div class="actions">
                <button type="submit"
                        title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                        class="action primary tocart"
                        id="product-addtocart-button">
                    <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
                </button>
				
					<button type="button"
						title="<?= __('Add Gift Box') ?>"
						class="action primary"
						id="product-giftbox-button" style="display:none">
						<span><?= __('Add Gift Box') ?></span>
					</button>
				
				<?= $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
	<div id="gift-popup-modal" style="display:none;">
		<div id="phr-messages"></div>
		<div id="gift-box-collection" class="gift-box-collection">
		</div>
		<div class="field box-qty"> 
			<label class="label" for="qty">
				<span><?= __('Qty')?></span>
				<input type="number" name="gift-qty" id="gift-qty" value="1" title="Qty" class="input-text qty" data-validate="{required-number:true,validate-item-quantity:{minAllowed:1,maxAllowed:10000}}">
			</label>
		</div>
		<script>
			require(
				[
					'jquery',
					'Magento_Ui/js/modal/modal',
					'Magento_Customer/js/customer-data'
				],
				function(
					$,
					modal,
					customerData
				) {
					var options = {
						type: 'popup',
						responsive: true,
						innerScroll: true,
						title: 'GIFT BOX',
						buttons: [{
							text: $.mage.__('Continue shopping'),
							class: 'primary btn-lg btn-info addtocart_modal_continue',
							click: function () {
								this.closeModal();
							}
						},
						{
							text: $.mage.__('Add Gift Box'),
							class: 'primary btn-lg addtocart_modal_gotocart',
							click: function () {
								addgiftcart();
								return false;
							}
						}]
					};

					var popup = modal(options, $('#gift-popup-modal'));
					$("#product-giftbox-button").on('click',function(){
						$("#gift-popup-modal").modal("openModal");
					});
					function addgiftcart(){
						var phrSaveUrl = '<?php echo $this->getUrl('productgiftbox/index/ajaxsave')?>';
						var giftQty = $("input[name='gift-qty']").val();
						var productId = $("input[name='gift_product_id']").val();
						$.ajax({
							url: phrSaveUrl,
							type: "POST",
							data: {qty:giftQty,product_id:productId},
							showLoader: true,
							cache: false,
							success: function(response){
							  showLoader: false;
							   $('#phr-messages').attr('class', response.class);
							   $('#phr-messages').html(response.message);
							   var sections = ['cart'];
								customerData.invalidate(sections);
								customerData.reload(sections, true);
							   setTimeout(function() {
									$('#phr-messages').html('');
									$('#phr-messages').attr('class', '');
								}, 7000);
							}
						});
					}
				}
			);
		</script>
		<style>
		.modal-custom .action-close, .modal-popup .action-close, .modal-slide .action-close{
			display:block;
		}
		</style>
	</div>