<div class="note">
    <a class="action popup-open" href="#">
        <span><?php echo "<div class='loader' id='gots_id'><img src='".$this->getViewFileUrl('images/GOTS.png')."' alt='GOTS Image'/> </div>"; ?></span>
    </a>
</div>
<?php echo $this->getChildHtml('popup') ?>
<script type="text/x-magento-init">
{
   ".popup-open": {
       "Magento_Catalog/js/popup": {}
   }
}
</script>
