<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Theme\Block\Html\Breadcrumbs $block */
/** @var \Magento\Catalog\ViewModel\Product\Breadcrumbs $viewModel */
$viewModel = $block->getData('viewModel');
?>
<div class="breadcrumbs">
    <div class="container"></div>
</div>
<script type="text/x-magento-init">
        {
            ".breadcrumbs .container": <?= $viewModel->getJsonConfigurationHtmlEscaped() ?>
        }
</script>