<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php
$themeHelper = $this->helper('Magento\Theme\Helper\Theme');
if($themeHelper->isModuleOutputEnabled('TemplateMonster_ThemeOptions')):
    $themeOptionsHelper = $this->helper('TemplateMonster\ThemeOptions\Helper\Data');
    $themeOptions = true;
else:
    $themeOptions = false;
endif;
?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productMetadata = $objectManager->get('Magento\Framework\App\ProductMetadataInterface');
$version = $productMetadata->getVersion();
?>

<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = $themeOptions ? $themeOptionsHelper->getCategoryShowDesc($viewMode) : false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = $themeOptions ? $themeOptionsHelper->getCategoryShowDesc($viewMode) : false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?> layout_1">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                 <?php
                    $thisProduct = $_product;
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $productTypeConfigurable = $objectManager->get('Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable');
                    $productRepository = $objectManager->get("\Magento\Catalog\Model\ProductRepository");
                    $storeManager = $objectManager->get("\Magento\Store\Model\StoreManagerInterface");
                    $swatchaHelper = $objectManager->get("\Magento\Swatches\Helper\Data");
                    $configProductId = $productTypeConfigurable->getParentIdsByChild($_product->getId());
                    $productUrl = $thisProduct->getProductUrl();
                    $swatcha = 0;
                    $options = [];
                    if (isset($configProductId[0])) {
                        $configProduct = $productRepository->getById($configProductId[0], false, $storeManager->getStore()->getId());
                        $thisProduct = $configProduct;
                        $configType = $configProduct->getTypeInstance();
                        $attributes = $configType->getConfigurableAttributesAsArray($configProduct);
                        $options = [];
                        foreach ($attributes as $attribute) {
                            $id = $attribute['attribute_id'];
                            $value = $_product->getData($attribute['attribute_code']);
                            $options["option"][$attribute["attribute_code"]] = $value;
                            $options["attribute"][$attribute["attribute_code"]] = $attribute;
                            $swatcha = 1;
                        }
                        $option = http_build_query($options["option"]);
                        $hash = $option ? '#' . $option : '';
                        $productUrl = $configProduct->getUrlModel()
                            ->getUrl($configProduct) . $hash;
                    }
                ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-item-info product-item-info-<?php echo $_product->getId(); ?> <?php if (!$_product->getIsSalable()): ?> product-item-info-hide <?php endif; ?>" data-container="product-grid" itemscope itemtype="//schema.org/product">
                    <?php
                    if ($version == '2.1.6') {
                        $productImage = $imageBlockBuilder->buildBlock($_product, $image);
                    } else {
                        $productImage = $block->getImage($_product, $image);
                    }
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <?php if ($block->getMode() == 'list'): ?>
                    <div class="product-item-photo-wrap">
                    <?php endif; ?>
                    <a href="<?php /* @escapeNotVerified */ echo $productUrl ?>" class="product-details-static-<?php echo $_product->getId(); ?>" style="display:none;" product-id="<?php echo $_product->getId(); ?>"/>
                    <a href="<?php /* @escapeNotVerified */ echo $productUrl ?>" class="product photo product-item-photo productUrl-<?php echo $_product->getId(); ?>" tabindex="-1">
                        <?php echo $productImage->toHtml(); ?>
                    </a>
                    <?php if ($block->getMode() == 'list'): ?>
                        </div>
                    <?php endif; ?>

                    <div class="product details product-item-details product-item-details-<?php echo $_product->getId(); ?>">
                        <div class="product-price-static price" count="1" amount="<?php echo $_product->getFinalPrice();?>"> <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
                                    $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
                                    $price =  $_product->getFinalPrice();
                                    $formattedPrice = $priceHelper->currency($price, true, false);
                                    /* @escapeNotVerified */ echo $formattedPrice;?>
                                    </div>
                        <div class="product-price-details" style="display:none;"> <?php /* @escapeNotVerified */ echo $block->getProductPrice($thisProduct) ?></div>
                        <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
                        <strong class="product name product-item-name" itemprop="name">
                            <a class="product-item-link productUrl-<?php echo $_product->getId(); ?>"
                               href="<?php /* @escapeNotVerified */ echo $productUrl ?>">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>

                        <?php if ($showDescription):?>
                            <div class="product description product-item-description" itemprop="description">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?php /* @escapeNotVerified */ echo $productUrl ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
                                   class="action more productUrl-<?php echo $_product->getId(); ?>"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                            </div>
                        <?php endif; ?>
                        <?php echo $block->getProductDetailsHtml($thisProduct); ?>
                        
                        <div class="product-item-inner product-item-inner-<?php echo $_product->getId(); ?>">
                            <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                    <div id="product-cart-button-<?php echo $_product->getId(); ?>">
                                        <?php $postParams = $block->getAddToCartPostParams($thisProduct); ?>
                                        <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $thisProduct->getSku() ?>" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                    </div>
                                    <?php if (!$_product->isSaleable()): ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                                <?php endif; ?>
                                <div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?php echo $addToBlock->setProduct($thisProduct)->getChildHtml(); ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php if ($block->getMode() == 'list'): ?>
                                <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                            <?php endif; ?>
                        </div>
                        <?php if (isset($configProductId[0])):?>
                            <script type="text/javascript">
                                require([ 'jquery', 'jquery/ui'], function($){ 
                                    $(document).ready(function($) {
                                        let node = null;
                                        $("body").bind("DOMNodeInserted", function() {
                                            <?php if (!$_product->isSaleable()):?>
                                                $(this).find('.product-item-inner.product-item-inner-<?php echo $_product->getId(); ?> .actions-primary #product-cart-button-<?php echo $_product->getId(); ?>').attr('style', "display:none;");
                                            <?php endif; ?>
                                            $(this).find('.product-item-details-<?php echo $_product->getId(); ?>').attr('id', 'cust-swatch-list');
                                            $(this).find('.product-item-details-<?php echo $_product->getId(); ?> .swatch-opt-<?php echo $thisProduct->getId(); ?>').attr('child-product-id', '<?php echo $_product->getId(); ?>');
                                            var hash = "#";
                                            let attrCount = parseInt('<?php echo count($options["option"]);?>') + 1;
                                            <?php foreach ($options["option"] as $code => $value): ?>
                                                $(this).find('.product-item-details-<?php echo $_product->getId(); ?> .swatch-attribute.<?php echo $code; ?>').addClass('current-tab-<?php echo $_product->getId(); ?>');
                                                var selected = null, attribute = null;
                                                selected = $(this).find('.product-item-details-<?php echo $_product->getId(); ?> .swatch-attribute.<?php echo $code; ?>.current-tab-<?php echo $_product->getId(); ?>').attr("option-selected");
                                                attribute = $(this).find('.product-item-details-<?php echo $_product->getId(); ?> .swatch-attribute.<?php echo $code; ?>.current-tab-<?php echo $_product->getId(); ?>').attr("attribute-code");
                                                if (selected === undefined ) {
                                                    <?php if ($_product->getIsSalable()): ?>
                                                        $(this).find('.product-item-details-<?php echo $_product->getId(); ?> #option-label-<?php echo $code; ?>-<?php echo $options["attribute"][$code]['attribute_id']; ?>-item-<?php echo $value; ?>').trigger( "click" );
                                                    <?php endif; ?>
                                                    selected = "<?php echo $value; ?>";
                                                } else {
                                                    $(this).find('.product-item-info.product-item-info-<?php echo $_product->getId(); ?>.product-item-info-hide').removeClass('product-item-info-hide');
                                                    $(this).find('.product-item-inner.product-item-inner-<?php echo $_product->getId(); ?> .actions-primary #product-cart-button-<?php echo $_product->getId(); ?>').removeAttr('style');
                                                    $(this).find('.product-item-inner.product-item-inner-<?php echo $_product->getId(); ?> .actions-primary .stock.unavailable').attr('style', "display:none;");
                                                }
                                                node = $('.product-item-details-<?php echo $_product->getId(); ?> .swatch-opt-<?php echo $thisProduct->getId(); ?> .swatch-attribute.<?php echo $code; ?>:nth-child('+attrCount+')');
                                                if (node !== undefined || node !== null) {
                                                    node.remove();
                                                }
                                                if (hash === "#"){
                                                    hash += attribute+'='+selected;
                                                } else {
                                                    hash += '&'+attribute+'='+selected;
                                                }
                                            <?php endforeach; ?>
                                            // console.log(".productUrl-<?php echo $_product->getId(); ?> : "+" <?php echo $configProduct->getUrlModel()->getUrl($configProduct);?>"+hash);
                                            $(".productUrl-<?php echo $_product->getId(); ?>").attr("href", "<?php echo $configProduct->getUrlModel()->getUrl($configProduct);?>"+hash);
                                        });
                                    });
                                });
                            </script>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <div class="toolbar-bottom">
        <?php echo $block->getToolbarHtml() ?>
    </div>
    <script type="text/javascript">
        require([ 'jquery', 'jquery/ui'], function($){ 
            $(window).on('load', function() {
                var newPrice = $('.price-container.price-final_price .price').html();
                var old = $('.product-price-static').html();
                if (old === newPrice) {
                    $('.product-price-details').removeAttr("style");
                    $('.product-price-static').attr('style', "display:none;");
                }
            });
        });
    </script>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
