<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?php /* @escapeNotVerified */ echo __('Order Information') ?></strong>
    </div>
    <div class="block-content">
        <div class="row">

        <?php if (!$_order->getIsVirtual()): ?>
            <div class="col-md-6">
                <div class="box box-order-shipping-address">
                    <strong class="box-title"><span><?php /* @escapeNotVerified */ echo __('Shipping Address') ?></span></strong>
                    <div class="box-content">
                        <address><?php /* @escapeNotVerified */ echo $block->getFormattedAddress($_order->getShippingAddress()); ?></address>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-order-shipping-method">
                    <strong class="box-title">
                        <span><?php /* @escapeNotVerified */ echo __('Shipping Method') ?></span>
                    </strong>
                    <div class="box-content">
                    <?php if ($_order->getShippingDescription()): ?>
                        <?php echo $block->escapeHtml($_order->getShippingDescription()) ?>
                    <?php else: ?>
                        <?php /* @escapeNotVerified */ echo __('No shipping information available'); ?>
                    <?php endif; ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>
            <div class="col-md-6">
                <div class="box box-order-billing-address">
                    <strong class="box-title">
                        <span><?php /* @escapeNotVerified */ echo __('Billing Address') ?></span>
                    </strong>
                    <div class="box-content">
                        <address><?php /* @escapeNotVerified */ echo $block->getFormattedAddress($_order->getBillingAddress()); ?></address>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-order-billing-method">
                    <strong class="box-title">
                        <span><?php /* @escapeNotVerified */ echo __('Payment Method') ?></span>
                    </strong>
                    <div class="box-content">
                        <?php echo $block->getPaymentInfoHtml() ?>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
