<div id="mp-static-block-carousel">
    <ul class="owl-carousel owl-theme">
        <li>
            <img alt="" style="width: 160px;margin: auto;" src="{{view url=Mageplaza_StoreLocator/media/static-block/mp-logo.png}}">
        </li>
        <li>
            <img alt="" style="width: 160px;margin: auto;" src="{{view url=Mageplaza_StoreLocator/media/static-block/mp-logo.png}}">
        </li>
        <li>
            <img alt="" style="width: 160px;margin: auto;" src="{{view url=Mageplaza_StoreLocator/media/static-block/mp-logo.png}}">
        </li>
        <li>
            <img alt="" style="width: 160px;margin: auto;" src="{{view url=Mageplaza_StoreLocator/media/static-block/mp-logo.png}}">
        </li>
        <li>
            <img alt="" style="width: 160px;margin: auto;" src="{{view url=Mageplaza_StoreLocator/media/static-block/mp-logo.png}}">
        </li>
        <li>
            <img alt="" style="width: 160px;margin: auto;" src="{{view url=Mageplaza_StoreLocator/media/static-block/mp-logo.png}}">
        </li>
    </ul>
</div>
<div id="mp-static-block-contact">
    <div class="mp-static-block-contact-desc col-mp mp-6 mp-xs-12">
        <h2>CONTACT</h2>
        <p>We love hearing from you, our Luma customers. Please contact us about anything at all. Your latest passion,
            unique health experience or request for a specific product. We&rsquo;ll do everything we can to make your
            Luma experience unforgettable every time. Reach us however you like</p>
    </div>
    <div class="mp-static-block-contact-phone col-mp mp-6 mp-xs-12">
        <div class="block block-contact-info">
            <div class="block-content">
                <div class="box box-phone"><strong class="box-title"> <span>Phone</span> </strong>
                    <div class="box-content"><span class="contact-info-number">1-800-403-8838</span>
                        <p>Call the Luma Helpline for concerns, product questions, or anything else. We&rsquo;re here
                            for you 24 hours a day - 365 days a year.</p>
                    </div>
                </div>
                <div class="box box-design-inquiries"><strong class="box-title"> <span>Apparel Design Inquiries</span>
                </strong>
                    <div class="box-content">
                        <p>Are you an independent clothing designer? Feature your products on the Luma website! Please
                            direct all inquiries via email to: <a href="mailto:cs@luma.com">cs@luma.com</a></p>
                    </div>
                </div>
                <div class="box box-press-inquiries"><strong class="box-title"> <span>Press Inquiries</span> </strong>
                    <div class="box-content">
                        <p>Please direct all media inquiries via email to: <a href="mailto:pr@luma.com">pr@luma.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['jquery', 'owlSlider'], function ($) {
        $('.owl-carousel').owlCarousel({
            items: 5,
            autoplay: false,
            singleItem: true,
            autoHeight: true,
            margin: 0,
            dots: false,
            nav: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1
                },
                550: {
                    items: 2
                },
                1000: {
                    items: 3
                },
                1250: {
                    items: 4
                }
            }
        });
    });
</script>