<div class="block-googlemap block-googlemap-<%- data.group %> is-loader">
	<div class="map-title elClick">Map</div>
	<div class="elSlide"><div id="map_canvas_<%- data.group %>"  style="width:<%- data.width %>; height:<%- data.height %>;"></div></div>
</div>

