<?php
$posts = $this->getItems();
$titleLength = 35;
?>
<?php if ($posts->count()) : ?>
    <div class="block related-posts">
        <div class="block-title title">
            <strong><?php echo __('Related Posts') ?></strong>
        </div>
        <div class="block-content content">
            <?php if ($this->getRelatedPostsLayoutView() == 'grid'): ?>
                <div class="related-post-list">
                    <?php foreach ($posts as $post): ?>
                        <div class="item product product-item">
                            <!-- Image -->
                            <?php if ($image = $post->getImage()): ?>
                                <div class="post-image">
                                    <a href="<?php echo $this->getPostUrl($post); ?>"><img src="<?php echo $image ?>" /></a>
                                </div>
                            <?php endif; ?>
                            <a class="related-post-name" href="<?php echo $this->getPostUrl($post); ?>">
                                <?php echo $post->getTitle(); ?>
                            </a>
                            <!-- Metadata -->
                            <div class="post-data">
                                <?php if ($post->getCommentsEnabled()) : ?>
                                    <span class="post-comments">
                                        <a href="<?php echo $this->getPostUrl($post); ?>#post-comments">
                                            <span class="count">
                                                <?php echo $post->getApprovedComments()->count(); ?>
                                            </span>
                                        </a>
                                    </span>
                                <?php endif; ?>
                                <span class="create-date material-icons-access_time">
                                    <time><?php echo $block->formatDate($post->getCreationTime(), 2, false);?></time>
                                </span>
                                <?php if ($author = $post->getAuthor()): ?>
                                    <span class="post-author material-icons-person">
                                    <span class="label"><?php echo __('by '); ?></span>
                                    <span class="author"><?php echo $author; ?></span>
                                </span>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <?php if ($this->getRelatedPostsLayoutView() == 'list'): ?>
                <ul class="related-post-list">
                    <?php foreach ($posts as $post): ?>
                        <li>
                            <h5 class="post-title">
                                <a href="<?php echo $this->getPostUrl($post); ?>">
                                    <?php echo mb_substr($post->getTitle(), 0, $titleLength); ?>
                                    <?php echo (mb_strlen($post->getTitle()) > $titleLength) ? '...' : '' ?>
                                </a>
                            </h5>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>

        </div>
    </div>
<?php endif; ?>