@font-face{

    font-family:'Museo Sans';

    src:url('../fonts/MuseoSans/MuseoSans_300.otf');

    src:url('../fonts/MuseoSans/MuseoSans_300.otf') format('otf'),

    

    url('../fonts/MuseoSans/MuseoSans_500.otf') format('otf'),

    url('../fonts/MuseoSans/MuseoSans_700.otf') format('otf');

    font-weight:bold;

    font-style:normal;}
.product-info-main.product-add-form .product-options-bottom .box-tocart .available{display:inline-block !important;vertical-align:middle; font-size: 13px;}
.product-info-main #product_description {padding-top:50px;}
.gots-brand-container{float:right; max-height: 150px; margin-top: -10px;}
.gots-brand-container img{max-height: 150px;}
.catalog-product-view .product-reviews-summary {padding-top:0px;}
#tab_product_story_img {max-height: 200px;}
.products-grid .product-image-photo {max-height: 100%;}

.product-price-static.price {
margin-bottom: 8px;
}

.product.details .product-price-static.price, .product.details .price-final_price {
min-height: 25px;
}