<?php
/**
 * @var $block /Magento\Checkout\Block\Cart\Totals
 */

$quote = $block->getQuote();
?>
<div id="dibs-easy-checkout_grand_total" class="dibs-easy-checkout-block grand-total">
    <h4 role="heading">
        <span class="total-title"><?= __('Total,') ?></span>
        <span class="total-currency"><?= $quote->getData('quote_currency_code') ?></span>
        <span class="total-amount"><?= $quote->getData('grand_total') ?></span>
    </h4>
</div>
