.product-item-photo{
  display: grid!important;
   justify-content: center!important;
}
.price-final_price{
  display: grid!important;
   justify-content: center!important;
}
.product-item-inner{
    display: grid!important;
   justify-content: center!important;
}
.product-item-name{
   display: grid!important;
   justify-content: center!important;
}
